/*common style starts*/

html, body {height: 100%;padding:0;    margin:0;}
form,table,p,h1,h2,h3,h4,h5,h6,ul,li,div,dl{font-size:100%;}
li{	padding:0;margin:0;list-style:none;}
a{text-decoration:none;outline:none;}
img{border:0;outline:none;    border:none;}
.clear {clear : both;}
input{    border:none;    outline:none;}
textarea{    border:none;    outline:none;    overflow:auto;}
input.button{    border:none;    outline:none;}
input[type=checkbox] {    border:none;    outline:none;  }
a:focus { outline: none; }
/* CSS Clearfix */

/*common style ends*/


.wrapper {	min-height: 100%;	position: relative;	}
.wrapper:before, .wrapper:after {	content: " ";	display: table}
.wrapper:after {	clear: both}
.content-wrapper, .main-footer {	-webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;	-webkit-transition: margin .3s ease-in-out, -webkit-transform .3s ease-in-out;	transition: margin .3s ease-in-out, -webkit-transform .3s ease-in-out;	transition: transform .3s ease-in-out, margin .3s ease-in-out;
	transition: transform .3s ease-in-out, margin .3s ease-in-out, -webkit-transform .3s ease-in-out;	margin-left: 250px;	z-index: 820}
.main-header .logo .logo-lg {    padding-left: 8px;    text-align: left;}
.content-wrapper{	min-height: 100%;	z-index: 800;	background-color:#fff;}
.main-footer {    background: #f8f8f8;    color: #777777;       font-size: 13px;    line-height: 24px;    padding: 15px 25px;    text-align: center;}
.fixed .main-header, .fixed .main-sidebar {	position: fixed}
.fixed .main-header {	top: 0;	right: 0;	left: 0}
.fixed .content-wrapper {	padding-top: 60px}
.fixed.layout-boxed .wrapper {	max-width: 100%}
body.hold-transition .content-wrapper, body.hold-transition .main-footer, body.hold-transition .main-sidebar, body.hold-transition .main-header .navbar, body.hold-transition .main-header .logo {	-webkit-transition: none;	transition: none}
.content {	min-height: 650px;	margin-right: auto;	margin-left: auto;	padding: 0 0 10px;}
.main-header {	position: relative;	max-height: 120px;	z-index: 1030;background: #05b4fa;background: -moz-linear-gradient(left, #05b4fa 0%, #8bc543 100%);background: -webkit-linear-gradient(left, #05b4fa 0%,#8bc543 100%); background: linear-gradient(to right, #05b4fa 0%,#8bc543 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05b4fa', endColorstr='#8bc543',GradientType=1 ); }
.main-header .navbar {	-webkit-transition: margin-left .3s ease-in-out;	transition: margin-left .3s ease-in-out;	margin-bottom: 0;	margin-left: 250px;	border: none;
	min-height:52px;	border-radius: 0; padding-left:5px; }
.main-header .navbar-custom-menu {	float: right;	margin-right: 0px}
.main-header .sidebar-toggle:hover, .main-header .sidebar-toggle:focus{text-decoration:none; outline:none;}
.main-header .sidebar-toggle {float: left;	padding: 10px;	font-family: fontAwesome;	color: #fff;	font-size: 25px;	line-height: 26px;	cursor: pointer;margin-top:5px;
	cursor: pointer;	-moz-transition: all .2s ease-out 0;	-webkit-transition: all .2s ease-out 0;	transition: all .2s ease-out 0}
.main-header .sidebar-toggle:hover {	color: #eee;-moz-transition: all .2s ease-out 0;	-webkit-transition: all .2s ease-out 0;	transition: all .2s ease-out 0}
.main-header .sidebar-toggle:focus, .main-header .sidebar-toggle:active {color: #eee;-moz-transition: all .2s ease-out 0;-webkit-transition: all .2s ease-out 0;
transition: all .2s ease-out 0}
.main-header .logo {	display: block;	float: left;	height:50px;	font-size: 20px;	line-height: 50px;	text-align: center;	width: 250px;	padding: 0 20px;
	font-weight: 300;	overflow: hidden;	color: #fff;-webkit-transition: width .3s ease-in-out;	transition: width .3s ease-in-out;	background-color: transparent;}
.user-image{    margin-top: 0;	}
.user-image img {  display: inline-block;  position: relative;  top: -2px;}
.user-image span {  color: #ffffff;  display: inline-block;  font-family: "Roboto",sans-serif;  font-size: 16px;  font-weight: 500;  line-height: 22px;  margin-right: 16px;}
.main-header .logo .logo-lg {	display: block}
.main-header .logo .logo-lg img{	max-height:45px}
.main-header .logo .logo-mini img {	max-height:40px; max-width:40px;}
.main-header .logo .logo-mini {	display: none}
.main-header .navbar-brand {	color: #fff}
.main-header .navbar-nav li.dropdown-user a.dropdown-toggle{min-width:198px; background:#ffae00;}
.main-header .navbar-nav li a {    margin: 0;    padding: 3px 18px;    position: relative;}
.main-header .navbar-nav li {	margin-right: 0px}
.main-header .navbar-nav li a i {	  color: #fff;    font-size: 22px;    height: 36px;    padding: 13px 3px;    text-align: center;    width: 36px;}
.main-sidebar {	position: absolute;	top: 0;	left: 0;	padding-top: 52px;	min-height: 100%;	width: 250px;	z-index: 810;	background-color: #f5f5f5;	-webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;	-webkit-transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;	transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;	transition: transform .3s ease-in-out, width .3s ease-in-out;	transition: transform .3s ease-in-out, width .3s ease-in-out, -webkit-transform .3s ease-in-out}

/*dropdown-menu starts*/
.navbar-custom-menu .dropdown-menu {	position: absolute;	top: 100%;	left: 0;	z-index: 1000;	display: none;	float: left;	min-width:249px;	padding: 0;	margin: 0px;	font-size: 14px;	text-align: left;	list-style: none;}
.navbar-custom-menu .dropdown-menu.anti_dropdown::after {  border-bottom: 7px solid #ffffff;  border-left: 4px solid transparent;  border-right: 4px solid transparent;
  content: "";  height: 0;  position: absolute;  right: 26px;  top: -7px;  width: 0;}
.navbar-custom-menu .dropdown-menu li a { white-space:normal;}
/*dropdown-menu ends*/

/*nav starts*/
.navbar-custom-menu nav .open a, .navbar-custom-menu .nav .open > a:focus, .navbar-custom-menu .nav .open a:hover {	background:none;	border-color:transparent;}
.navbar-custom-menu .nav li a:focus, .navbar-custom-menu .nav li a:hover {    background:none;    text-decoration: none;}
/*nav ends*/

.main-header .navbar-nav .dropdown-user .dropdown-menu li a {    color: #ffffff;    padding: 4px 8px;}
.main-header .navbar-nav .dropdown-user .dropdown-menu li a i {	font-size: 16px;	margin-right: 10px}
.main-header .navbar-nav .dropdown-user .dropdown-menu li a:focus{background:#254676;}
@keyframes flipInX {
0% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
-webkit-transition-timing-function:ease-in;
transition-timing-function:ease-in;
opacity:0
}
40% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, -20deg);
transform:perspective(400px) rotate3d(1, 0, 0, -20deg);
-webkit-transition-timing-function:ease-in;
transition-timing-function:ease-in
}
60% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, 10deg);
transform:perspective(400px) rotate3d(1, 0, 0, 10deg);
opacity:1
}
80% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, -5deg);
transform:perspective(400px) rotate3d(1, 0, 0, -5deg)
}
100% {
-webkit-transform:perspective(400px);
transform:perspective(400px)
}
}
@-webkit-keyframes flipInX {
0% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
-webkit-transition-timing-function:ease-in;
opacity:0
}
40% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, -20deg);
-webkit-transition-timing-function:ease-in
}
60% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, 10deg);
opacity:1
}
80% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, -5deg)
}
100% {
-webkit-transform:perspective(400px)
}
}
.navbar-custom-menu .navbar-nav li {	position: relative;	background:#254676;}
.navbar-custom-menu .navbar-nav li .dropdown-menu {	position: absolute;	right: 0;	left: auto;	background:#254676; min-width: 199px;}
.fa.hdt_cnt {  display: inline-block;  font-family: "Roboto",sans-serif;  font-size: 14px;  line-height: 24px;  padding: 0 26px 0 0;  position: relative;  width: 100%;}
.hdt_cnt::before {  font-family: "FontAwesome";  font-size: 15px;  position: absolute;  right: 0;  top: 0;}
/*sidebar style starts*/
.sidebar-menu li a.sidebar-toggle {  background: #646464;  color: #ffffff;  padding: 2px 10px 2px 40px;}
.sidebar-menu {	list-style: none;	margin: 0;	padding: 0;	background-color: #f1f1f1;}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu li.header {	white-space: nowrap;	overflow: hidden}
.sidebar-menu:hover {	overflow: visible}
.sidebar-menu li.header {	overflow: hidden;	text-overflow: clip;letter-spacing: 1px;	font-weight: 600;	color: #a6a6a6}
.sidebar-menu li {	position: relative;	margin: 0;	padding: 0}
.sidebar-menu li a { background:#f5f5f5;    color: #646464;    display: block;font-family: 'Roboto', sans-serif;font-size: 14px;    font-weight: 500;    letter-spacing: 0.3px;
    padding:14px 26px 14px 40px;    position: relative; border-bottom:1px solid #ffffff;}
.sidebar-menu li a.mn_sib {  background: #969696;  color: #ffffff;}
.sidebar-menu li a.mn_sib.collapsed{background:#07b4f7;}
.sidebar-menu li a.mn_sib.collapsed::after { content:"\f107";}
.sidebar-menu li a.mn_sib::after{   position: absolute;right: 10px;top:0; color:#646464; line-height:48px;font-family: "FontAwesome";    font-size: 18px; content:"\f106";}
.sidebar-menu li.active a.mn_catgcur{background:#07b4f7;}
.sidebar-menu li .mnsub_catglis {  padding-left: 0;}
.sidebar-menu li .mnsub_catglis li a.mnsub_catg {    padding:13px 4px 13px 80px; background:rgba(100, 100, 100, 0.1); color:#646464;}
.sidebar-menu li .mnsub_catglis li a.mnsub_catg.active {    color: #ffae00;}
.sidebar-menu li .mnsub_catglis.mnsub_childcatglis li a {    padding-left: 94px;}
.sidebar-menu li .mnsub_catglis.mnsub_childcatglis li a::after {    left: 70px;}
.sidebar-menu li a:hover, .sidebar-menu li a:focus, .sidebar-menu li a.mn_sib.collapsed:hover, .sidebar-menu li a.mn_sib.collapsed:focus, .sidebar-menu li.active a {	color: #fff;	background: #07b4f7;text-decoration:none; outline:none;}
/*sidebar style ends*/

/*search starts*/
.mn_rightp .tp_sear1 {  padding-top: 11px;  width: 17.5em;}
.tp_sear1 .input-group .input-group-addon, .tp_sear1 .input-group .form-control, .tp_sear1 .input-group .form-control:hover, .tp_sear1 .input-group .form-control:focus {
    background: transparent;    border: none;    box-shadow: none;}
.tp_sear1 .input-group .form-control {    font-family: "Roboto",sans-serif;    font-size: 16px;    line-height: 34px;color: #fff;}
.tp_sear1 .input-group .form-control::-moz-placeholder{color:#fff;}
.tp_sear1 .input-group .form-control::-webkit-input-placeholder {    color: #fff;}
.tp_sear1 .input-group .input-group-addon { padding-right: 0;}
/*search ends*/

.mn_rightp {       padding:0 16px 0 0;}
.mn_rightp .tp_sear1, .mn_rightp .navbar-right {    display: inline-block;    margin: 0;    vertical-align: top;}
.mn_rightp .navbar-right li.dropdown {    display: inline-block;    vertical-align: top;}
.mn_rightp .navbar-right li a.dropdown-toggle .mn_ico1 {    position: relative; display:inline-block;}
.mn_rightp .navbar-right li a.dropdown-toggle .mn_ico1 sup{background:#222;border-radius:50%;color:#fff;font-size:10px;height:18px;line-height:17px;position:absolute;right:-11px; text-align: center;top: -6px;width:18px;}
.mn_rightp .navbar-right li.dropdown {    border-right: 1px solid rgba(255, 255, 255, 0.4);}
.mn_rightp .navbar-right li.dropdown {    padding: 18px 2px 15px;}
.navbar-custom-menu .nav li.dropdown-user a.dropdown-toggle {    padding: 9px 16px 9px 12px;}
.navbar-custom-menu .nav li.dropdown {    padding-bottom: 3px;    padding-top: 8px; min-height:52px;}
.mn_rightp .navbar-right li.dropdown:first-child {    border-left: 1px solid rgba(255, 255, 255, 0.4);}
.dropdown-menu.anti_dropdown .notification_header, .dropdown-menu.anti_dropdown .notification_bottom {    background: #ddd;    padding: 10px;}
.mn_rightp .navbar-right li.dropdown .dropdown-menu.anti_dropdown {    border: 0 none;    border-radius: 0;    min-width: 320px;    padding: 0 6px 0 0;}
.dropdown-menu.anti_dropdown h3 {    font-size: 18px;    line-height: 24px;    margin: 4px 0;    width: 100%;}
.mn_rightp .navbar-right li.dropdown .anti_dropdown li {    border: none;    width: 100%;}
.dropdown-menu.anti_dropdown p {    font-size: 12px; color:#646464;font-family: "Roboto",sans-serif;    line-height: 15px;    margin-bottom: 2px;}
.dropdown-menu.anti_dropdown p .noti_red1{color:#ff0303;}
.dropdown-menu.anti_dropdown p .noti_grn1{color:#659c05;}
.dropdown-menu.anti_dropdown p .noti_blu1{color:#429ad0;}
.dropdown-menu.anti_dropdown p .noti_orng1{color:#ff6000;}
.dropdown-menu.anti_dropdown p .noti_grn2{color:#78b906;}
.dropdown-menu.anti_dropdown p.hr_tx{color:#b4b4b4; margin-top:6px;}
.dropdown-menu.anti_dropdown .notification_bottom a {    color: #222;    display: inline-block;    text-align: center;    text-decoration: underline;    width: 100%;}
.mn_rightp .navbar-right li.dropdown a.dropdown-toggle:hover{cursor:pointer;}
.dropdown-menu.anti_dropdown .user_img {    float: left;    width: 45px;}
.user_img img {    max-width: 100%;}
.dropdown-menu.anti_dropdown .notification_desc { padding-top: 10px; padding-bottom:8px;}
.dropdown-menu.anti_dropdown .notification_header {    margin-bottom: 10px;}
.dropdown-menu.anti_dropdown .notification_bottom {    margin-top: 10px;}
.mn_righ .collapse.navbar-collapse{padding:0;}
.navbar-custom-menu .nav li a.dropdown-toggle.drop_icocn {    display: inline-block;    margin-left: 2px;    margin-right: 2px;    min-width: 48px;    padding-left: 4px;    padding-right: 4px;    text-align: center;}
.navbar-custom-menu .nav li a.dropdown-toggle.drop_icocn .mn_ico1.mn_imbel img{position:relative; right:2px;}
.mn_rightp .navbar-right li a.dropdown-toggle.drop_icocn .mn_ico1.mn_imbel sup{right:-11px;}
.mn_rightp .navbar-right li a.dropdown-toggle:focus, .mn_rightp .navbar-right li.open a.dropdown-toggle:focus, .mn_rightp .navbar-right li.open a.dropdown-toggle{background:transparent;}
.fd_rw {  display: inline-block;  width: 100%;}
.mn_rightp .navbar-right li.dropdown .anti_dropdown li.noti_rw1:not(:last-child) {    border-bottom: 1px solid #d8d8d8;    position: relative;}
.navbar-custom-menu .dropdown-menu li.noti_rw1 .fd_rw {    padding-left: 30px;    padding-right: 10px;}
.dropdown-menu.anti_dropdown p strong.noti_und a {color:#646464; text-decoration:underline;}
.navbar-custom-menu .dropdown-menu li.noti_rw1:after{content:""; position:absolute; top:0; left:0;width: 0; height: 0; border-top: 1em solid red; border-right: 1em solid transparent;}
.navbar-custom-menu .dropdown-menu li.noti_rw1.dang_nrw:after{border-top: 1em solid #ff0303;}
.navbar-custom-menu .dropdown-menu li.noti_rw1.succ_nrw:after{border-top: 1em solid #659c05;}
.navbar-custom-menu .dropdown-menu li.noti_rw1.prim_nrw:after{border-top: 1em solid #429ad0;}
.navbar-custom-menu .dropdown-menu li.noti_rw1.warn_nrw:after{border-top: 1em solid #ff6000;}
.navbar-custom-menu .dropdown-menu li.noti_rw1.succ_nrw1:after{border-top: 1em solid #78b906;}
.navbar-custom-menu .dropdown-menu li.noti_rw1.whit_nrw:after{border-top: 1em solid #fff;}
.mn_rightp .navbar-right li.dropdown .dropdown-menu.anti_dropdown.msg_drop {  padding-left: 8px;  padding-right: 8px;}

/*search drop starts*/
.sear_lef {    float: left;    width: 147px;}
.sear_lef .usr_amt .amt1, .sear_lef .usr_amt .curren1 {    color: #646464;    display: inline-block;    font-family: "Roboto",sans-serif;    font-size: 14px;    line-height: 16px;
    text-align: center;    width: 100%;}
.sear_lef .usr_amt {    line-height: 16px;    margin-bottom: 14px;}
.sear_lef .sear_im {    display: inline-block;    margin-bottom: 15px;    margin-top: 10px;    width: 100%;}
.searc_cn1 {border-top: 1px solid #cccccc;    display: inline-block;    padding: 4px 2px 2px 16px;    width: 100%;}
.print_blk1 {display: inline-block;padding: 3px 19px;   text-align: right;    width: 100%;}
.searc_drop {background: #ffffff;box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);margin-top: 7px;position: absolute;width: 774px;}
.sear_righ .sear_table .table tbody tr td {    border: none;    padding-bottom: 5px;    padding-top: 5px;}
.sear_righ .sear_table .table tbody tr td p {    font-family: "Roboto",sans-serif;    font-size: 12px;    margin: 0;}
.sear_righ {    padding-left: 169px;    padding-top: 15px;}
.sear_righ .sear_table:last-child .table {    margin-bottom: 0;}
.sear_righ .sear_table tbody tr td:first-child {    width: 110px;}
.sear_righ .sear_table .table tbody tr td p .s_succ {    color: #07ad01;}
.sear_righ .sear_table .table tbody tr td p .s_prim {    color: #07b4f7;}
.sear_righ .sear_table .table tbody tr td p .s_dang {    color: #e30000;}
.searc_drop::after {    border-bottom: 7px solid #ffffff;    border-left: 4px solid rgba(0, 0, 0, 0);    border-right: 4px solid rgba(0, 0, 0, 0);    content: "";
    height: 0;    left: 44px;    position: absolute;    top: -7px;    width: 0;}
/*search srop ends*/

/*notification drop starts*/
.navbar-custom-menu .nav li.noti_dric a.dropdown-toggle.drop_icocn {    border: none;    margin-right: 0;    padding-right: 0;}
.navbar-custom-menu .nav li.noti_dric {    border: none;    margin-right: -4px;}
.setting_drp .table tbody tr td {border: none;color: #646464;font-family: "Roboto",sans-serif;font-size: 12px;font-weight: bold;line-height: 18px;vertical-align: middle;}
.mn_rightp .navbar-right li.dropdown .dropdown-menu.anti_dropdown.setting_drp {    min-width: 202px;    padding-right: 0;}
.setting_drp .table {    margin: 0;}
.navbar-custom-menu .dropdown-menu.anti_dropdown.setting_drp::after {    right: 10px;}
.navbar-custom-menu .dropdown-menu.anti_dropdown.setting_drp {    right: 10px;}
/*notification drop ends*/

/*user drop starts*/
.navbar-right .dropdown-menu.usr_drpmn {    border-color: #646464;    border-radius: 0;    border-style: solid;    border-width: 0 0 4px;    min-width: 188px;}
.navbar-custom-menu .dropdown-menu.usr_drpmn a.btn-flat {    background: #323232;    color: #ffffff;    display: inline-block;font-family: "Roboto",sans-serif;    font-size: 14px;    line-height: 24px;    margin: 4px auto;    padding: 6px 18px;    width: auto;transition:0.5s ease all 0s;-webkit-transition:0.5s ease all 0s;}
.navbar-custom-menu .dropdown-menu li.user-header, .navbar-custom-menu .dropdown-menu li.user-body, .navbar-custom-menu .dropdown-menu li.user-footer {display: inline-block;    width: 100%;}
.navbar-custom-menu .dropdown-menu li.user-body a{color:#646464;transition:0.5s ease all 0s;-webkit-transition:0.5s ease all 0s;font-family:"Roboto",sans-serif;line-height:24px;}
.navbar-custom-menu .dropdown-menu li.user-body a.active {    font-weight: bold;}
.navbar-custom-menu .dropdown-menu li.user-footer {    padding-bottom: 18px;    padding-top: 8px;}
.navbar-custom-menu .dropdown-menu li.user-header {    position: relative;}
.navbar-custom-menu .dropdown-menu li.user-header .usr_mask {    height: 100%;    left: 0;    position: absolute;    top: 0;    width: 100%;    z-index: 10; background:url(../images/usr_mask1.png) no-repeat scroll center top;}
.navbar-custom-menu .dropdown-menu li.user-header .usr_mask p {    bottom: 0;    color: #ffffff;    font-family: "Roboto",sans-serif;    font-size: 16px;    left: 0;
    line-height: 24px;    margin-bottom: 12px;    position: absolute;    text-align: center;    width: 100%;    z-index: 10;}
.navbar-custom-menu .dropdown-menu li.user-body {    padding-left: 6px;    padding-top: 10px;}
.navbar-custom-menu .dropdown-menu.usr_drpmn a.btn-flat:hover, .navbar-custom-menu .dropdown-menu.usr_drpmn a.btn-flat:focus{background:#07b4f7;border-color:#07b4f7;color:#ffffff; outline: none;text-decoration: none;}
.navbar-custom-menu .dropdown-menu li.user-body a:hover, .navbar-custom-menu .dropdown-menu li.user-body a:focus{color:#07b4f7;outline: none;text-decoration: none;}
/*user drop ends*/

/*common breadcrumb starts*/
.breadcrumb.cm_breadcrumb {    background: #fafafa; display:inline-block; width:100%;    border-radius: 0;    padding-bottom: 4px;    padding-top: 4px; margin-bottom:2px;}
.breadcrumb.cm_breadcrumb li + li::before {    color: #646464;    content: ">";    padding: 0 3px 0 2px;}
.breadcrumb.cm_breadcrumb li a {    color: #646464;    display: inline-block;    font-family: "Roboto",sans-serif;    font-size: 12px;    line-height: 20px;}
.breadcrumb.cm_breadcrumb li a:hover, .breadcrumb.cm_breadcrumb li a:focus{text-decoration:none; outline:none; color:#07b4f7;}
/*common breadcrumb ends*/

/*profile starts*/
.inn_content{padding-left:32px; padding-right:42px;}
.cm_head1 h3 { border-bottom: 1px solid #dcdcdc;  color: #646464;  font-family: "Roboto",sans-serif;  font-size: 24px;  font-weight: 400;  line-height: 32px;
  margin-bottom: 15px;  margin-top: 15px;  padding-bottom: 12px;  text-align: left;}
.cm_frm1 .form-control-label {    color: #646464;    font-family: "Roboto",sans-serif;    font-size: 13.98px;    font-weight: 400;}
.cm_frm1.verti_frm1 .form-control-label {    line-height: 18px;    margin-bottom: 0;    padding-bottom: 7px;    text-align: left;}
.cm_frm1 .form-control {    background: #ffffff;    border-color: #e8e8e8;    box-shadow: none;    color: #646464;    font-family: "Roboto",sans-serif;    height: 40px;    padding-left: 10px;    padding-right: 10px;}
.cm_frm1 .form-control::-moz-placeholder {    color: #646464;}
.cm_frm1 .form-control::-webkit-input-placeholder {    color: #646464;}
.cm_frm1 .form-control:focus {    border-color: #cccccc;    box-shadow: none;}  
.cm_blacbtn1 {    background: #323232;    border: 1px solid #323232;    border-radius: 4px;    color: #ffffff;    display: inline-block;    font-family: "Roboto",sans-serif;    font-size: 14px;    line-height: 24px;    margin-bottom: 8px;    margin-top: 18px;    padding: 6px 18px;    transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;}
.select_style1 {    background: #ffffff;    border: 1px solid #e8e8e8;    border-radius: 4px;    height: 40px;    position: relative;    width: 100%;}
.select_style1::after {    background: #fff;border-radius:4px;    content: "\f107";font-family:'FontAwesome';    cursor: pointer;    height: 100%;    pointer-events: none;    position: absolute;    right: 0;    top: 0;    width: 40px; text-align:center; line-height:38px; font-size:20px;}
.select_style1 select {    -moz-appearance: none;  -webkit-appearance: none;    border: none;border-radius:4px;    color: #646464;    font-family: "Roboto",sans-serif;    
font-size: 14px;    height: 38px;    line-height: 34px;    outline: none;    padding-left: 7px; width:100%;}
.cm_blacbtn1:hover, .cm_blacbtn1:focus{background:#07b4f7;border-color:#07b4f7;color:#ffffff; outline: none;text-decoration: none;}
/*profile ends*/

/*manage subadmin starts*/
.cm_head1 h5 {    color: #646464;    font-family: "Roboto",sans-serif;    font-size: 14px;    font-weight: bold;    line-height: 20px;    margin-bottom: 10px;    margin-top: 0;}
.cm_checkb {    margin: 0;    min-height: 20px;    line-height: 20px;}
.cm_checkb label {  color: #646464;  font-family: "Roboto",sans-serif;  font-size: 14px;  font-weight: 400;  line-height: 17px;  margin-bottom: 9.2px;  padding: 0;}
.cm_checkb label:after {    content: '';    display: table;    clear: both;}
.cm_checkb .cr{position: relative; display: inline-block;    border: 1px solid #c8c8c8;    border-radius: 0;    width:14px;   height:14px;    float: left;  margin-right:10px; margin-top:1px;}
.cm_checkb .cr .cr-icon{    position: absolute;    font-size: 0.6em;   line-height: 0;    top: 45%;    left: 18%;}
.cm_checkb label input[type="checkbox"] {    display: none;}
.cm_checkb label input[type="checkbox"] + .cr > .cr-icon{    transform: scale(3) rotateZ(-20deg);    opacity: 0;    transition: all .3s ease-in;}
.cm_checkb label input[type="checkbox"]:checked + .cr > .cr-icon {   transform: scale(1) rotateZ(0deg);    opacity: 1;}
.cm_checkb label input[type="checkbox"]:disabled + .cr {    opacity: .5;}
/*manage subadmin ends*/

/*add logo starts*/
.fileUpload {    position: relative;    overflow: hidden;}
.fileUpload input.upload {    position: absolute;    top: 0;    right: 0;    margin: 0;    padding: 0;    font-size: 20px;    cursor: pointer; width:100%; height:100%;    
opacity: 0;  -webkit-opacity: 0;  -ms-opacity: 0;  filter: alpha(opacity=0);-webkit-filter: alpha(opacity=0);-ms-filter: alpha(opacity=0);}
.file-upload .form-control {  background-color: #ffffff !important;  border-color: #e8e8e8;  box-shadow: none;  color: #646464;  font-size: 14px;  height: 40px;}
.file-upload .form-control::-moz-placeholder{color:#646464; opacity:1; -webkit-opacity: 1;  -ms-opacity: 1;}
.file-upload .form-control::-webkit-input-placeholder{color:#646464; opacity:1; -webkit-opacity: 1;  -ms-opacity: 1;}
.file-upload .input-group-addon {    padding: 0;       background-color: #ddd;}
.fileUpload {    border: 0 none;   overflow: hidden;   position: relative;}
.file-upload .input-group-addon, .fileUpload.btn.btn-primary, .fileUpload.btn.btn-primary:focus {    background: #646464;    border-color: #646464;}
.file-upload .input-group-addon:hover, .fileUpload.btn.btn-primary:hover {    background: #ccc;    border-color: #ccc; color:#222;}
.fileUpload.btn.btn-primary {  border: none;  color: #ffffff;  font-family: "Roboto",sans-serif;  font-size: 14px;  min-width: 118px;  padding: 9px 18px;}
.zoom_blk1 {    background: #ffffff;    border: 1px solid #e8e8e8;    border-radius: 6px;    height: 140px;    padding: 17.5px;    position: relative;    width: 240px;}
.zoom_ico1, .zoom_im1 {    left: 0;    position: absolute;    top: 50%;    transform: translateY(-50%);-webkit-transform: translateY(-50%);    width: 100%;}
/*add logo ends*/

/*ticket details starts*/
.zoom_blk2{border:1px solid #e8e8e8;background: #ffffff; border-radius: 6px;height: 244px;    padding: 8px;    position: relative;    width: 84%;  }
.zoom_ico1:hover, .zoom_ico1:focus {    cursor: pointer;}
.tick_table .table thead tr th, .tick_table .table tbody tr td {    border: none;    color: #646464;    font-family: "Roboto",sans-serif;    font-size: 14px;    line-height: 24px;    padding: 4px 0;}
.tick_table .table ul {    margin-bottom: 0;}
.tic_orng1 {    color: #fe6001;}
.tic_grn {    color: #018999;}
.tic_red {    color: #ff0909;}
.tic_orng {    color: #ffae00;}
.tic_blu {    color: #5b72fc;}
.tick_table .table{margin-bottom:8px;}
.prior_lis li:not(:last-child)::after {    border-right: 1px solid #646464;    content: "";    height: 14px;    position: absolute;    right: -2px;    top: 5px;    width: 1px;}
.prior_lis li {    position: relative;}
/*ticket details ends*/

/*settings*/
.list-inline.stng_lis1 li {  vertical-align: top;}
.list-inline.stng_lis1 li.sfd1 .file-upload .fileUpload.btn.btn-primary {  min-width: 88px;}
.list-inline.stng_lis1 li.sfd1 {  width: 82%;}
.list-inline.stng_lis1 li.sfd2 {  float: right;  padding-right: 0;  margin-top: 6px;}
.cm_head1 h4 {  font-family: 'Roboto',sans-serif;  color: #646464;  font-size: 13.98px;  line-height: 17px;  padding-bottom: 6px;  border-bottom: 1px solid #ccc;margin-top: 10px;
  margin-bottom: 10px;}
.list-inline.stng_lis1 {  margin-bottom: 2px;}
.list-inline.stng_lis2 {  margin-top: 2px;  margin-bottom: 0;}
.list-inline.stng_lis2 li {  vertical-align: top;}
.list-inline.stng_lis2 li.sfd3 {  width: 126px;}
.list-inline.stng_lis2 li.sfd4 {  width: 74%;  padding-right: 0;}
.stng_lnk1.fa {  position: relative;  font-size: 13.98px;  font-family: 'Roboto',sans-serif;  color: #07b4f7;  font-weight: bold;  line-height: 18px;  padding-top: 10px;
  display: inline-block;  padding-left: 28px;}
.stng_lnk1:before {  font-family: 'FontAwesome';  font-size: 12px;  font-weight: ;  font-weight: 400;  width: 18px;  height: 18px;  border: 1px solid;  display: inline-block;
  position: absolute;  left: 0;  top: 11px;  text-align: center;  line-height: 18px;  border-radius: 50%;}
.ma-bot0 {  margin-bottom: 0;}
.stng_btn1 .cm_blacbtn1{margin-top:0;}
.list-inline.stng_lis3 li.sfd5 {  width: 17%;}
.sfd5 .select_style1:after {  width: 26px;}
.list-inline.stng_lis3 li.sfd6 {  width: 40.5%;}
.list-inline.stng_lis3 li.sfd7 {  width: 40.5%;  padding-right: 0;}
.list-inline.stng_lis3 {	margin-bottom: 2px;}
.navbar-custom-menu .dropdown-menu li.user-header {	position: relative;	background: #000;}
.navbar-custom-menu .dropdown-menu li.user-header .img-responsive {	width: 90px;	height: 90px;	border-radius: 50%;	display: block;	margin: 1em auto 2em;}
.sidebar-mini.sidebar-collapse .sidebar-menu li.childcateg .mnsub_catglis {	height: 0;position: absolute;	left: 50px;	top: 0;	z-index: 999999; display:none;	}
.sidebar-mini.sidebar-collapse .sidebar-menu li.childcateg:hover .mnsub_catglis {  width: 300px; height:auto;  background: #f5f5f5; display:block;}
.sidebar-mini.sidebar-collapse .sidebar-menu li:hover .mnsub_catglis li a {   padding-left: 50px;}
.sidebar-menu li a::before {	font-family: "FontAwesome";	font-size: 16px;	left: 0;	line-height: 42px;	position: absolute;	text-align: center;	top: 0;	width: 40px;}
.sidebar-menu li .mnsub_catglis li a.mnsub_catg::before {	left: 34px;}
.sidebar-mini.sidebar-collapse .sidebar-menu li a::before {	top: 3px;}
.sidebar-mini.sidebar-collapse .sidebar-menu li.childcateg:hover .mnsub_catglis li a::before {	left: 0;	width: 50px;	line-height: 35px;}
.sidebar-mini.sidebar-collapse .sidebar-menu li a::after {	right: 2px;	color: #fff;}