/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
.coinValBlk{
    margin-bottom: 15px;
}
.hiwContent {
	margin-top: 30px;
	padding: 40px 20px 20px;
	text-align: center;
}
.hiwContent ul {
	display: block !important;
}
.hiwContent li {
	display: block !important;
	margin: 30px 0 !important;
	width: 100% !important;
	padding-top: 1rem;
}
.hiwContent .list-inline-item:not(:last-child)::after {
	right: 0;
	top: auto;
	transform: rotate(90deg);
	left: 0;
}
.hiwContent p {
	margin-top: 10px;
}
.graphSec {
	min-height: auto;
}
.innerMidSec .nav-tabs .nav-item {
	margin-bottom: 0;
	width: 100%;
	text-align: center;
}
.innerMidSec .tab-content .nav-item {
	margin-bottom: 0;
	width: 50%;
	text-align: center;
}
.perTabContent .tab-content .nav-tabs a {
	font-size: 16px;
	min-height: 64px;
}
#HisTab .nav-tabs a {
	font-size: 16px;
}
.form-group .col-md-6:first-child {
	margin-bottom: 15px;
}
div.dataTables_wrapper div.dataTables_filter input {
	width: 72% !important;
}
.dataTables_wrapper {
	padding: 0;
}
.hiwDet .nav-item:not(:last-child)::after {
display: none;
}
.hiwDet .nav-item {
	margin-bottom: 30px !important;
}
.currSlider .owl-prev {
	left: 20px;
}
.currSlider .owl-next {
	right: 20px;
}
.homemenu .nav-item {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	text-align: center;
}
.homereg {
	margin: 20px 0;
}
.bannercaption {
	margin-top: 0;
}
.amChartsLegend.amcharts-legend-div {
	overflow: visible !important;
}
.pwd_hide {
	text-align: center;
}
.pwd_hide img {
	margin: 0 auto 2rem;
}
.sTSec .btnPrime {
	padding: 10px;
}
.bannerSec {
	padding: 0px 0 30px;
}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
  
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
 
}

/* Phone and Tablet devices */
@media (max-width: 991px) {
.loginForm {
    margin-top: 30px;
}
.navbar-toggler {
    cursor: pointer;
}
.navbar-toggler i {
	color: #323c46;
    cursor: pointer;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

