 * {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #1e2832;
}

li {
    list-style: none;
}

a,
.btn {
    cursor: pointer;
}

.hide {
    display: none;
}

a:focus {
    outline: none;
}

.ubuntu {
    font-family: Ubuntu;
}


/* Margin styyles */

.m-0 {
    margin: 0px !important;
}

.mr-0 {
    margin-right: 0;
}

.ml-0 {
    margin-left: 0;
}

.mh-0 {
    margin-right: 0;
    margin-left: 0;
}

.mh-20 {
    margin-right: 20px;
    margin-left: 20px;
}

.mv-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mr-20 {
    margin-right: 20px;
}


/* Padding styyles */

.p-0 {
    padding: 0px;
}

.pt-0 {
    padding-top: 0px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pr-0 {
    padding-right: 0;
}

.pl-0 {
    padding-left: 0;
}

.ph-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.pv-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.ph-15 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.ph-20 {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.ph-30 {
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}

.f-20 {
    font-size: 20px;
}

.clrWht {
    color: #fff;
}

.clrLight {
    color: #cad5da;
}

.btn {
    height: 40px;
}


/* Header section css start here */

.homeNav {
    background-color: #fff;
    min-height: 90px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    font-size: 30px;
    color: #2484c6;
    text-transform: uppercase;
}

.navbar-nav.homemenu a.nav-link {
    color: #323c46;
    font-size: 18px;
    padding: 0 5px !important;
    position: relative;
}

.navbar-nav.homemenu li {
    margin: 0 1rem;
    border-bottom: 4px solid transparent;
}

.homereg {
	margin-left: 20px;
}
.homeNav .dropdown-toggle::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	top: -2px;
	content: url("../images/down-arrow.png");
	border:none;
	position: absolute;
}
.homereg .regBtn {
    background-color: #2484c6;
    padding: 8px 15px !important;
    color: #fff !important;
    border-radius: 4px;
    font-size: 18px;
}
.aftrLoginNav .logUsr {
    margin-left: 15px;
}
.aftrLoginNav .logUsr .dropdown-toggle {
    padding-right: 20px;
}
.aftrLoginNav .logUsr .dropdown-toggle::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	top: 28px;
	content: url("../images/down-arrow.png");
	border:none;
	position: absolute;
}
.homereg .regBtn:hover {
    background-color: #25a8ff;
}

.btn:hover {
    background: #25a8ff;
}

.homemenu .nav-item {
    padding-top: 32px;
    padding-bottom: 32px;
}

.navbar-nav .dropdown-menu {
    margin: 0;
}

.navbar-nav.homemenu li.active,
.navbar-nav.homemenu li:hover {
    border-bottom: 4px solid #2484c6;
    padding-bottom: 26px;
}

.navbar-nav.homemenu li.active a,
.navbar-nav.homemenu li:hover a {
    color: #2484c6;
}


/* Header section css end here */


/* Banner section css start here */

.bannerSec {
    background: url("../images/banner.jpg") no-repeat center bottom #010103;
    min-height: 460px;
    margin-top: 90px;
    background-size: cover;
    padding: 70px 0 30px;
}

section {
    padding: 30px 0;
}
.bannercaption {
    margin-top: 5rem;
}
.bannercaption p span {
	font-size: 24px;
	margin-bottom: 1rem;
	display: block;
}

.bannercaption p {
	font-size: 30px;
	color: #fff;
	margin-bottom: 2rem;
}

.btnBnr {
    background-color: #fff;
    text-transform: uppercase;
    width: 175px;
    height: 40px;
    font-weight: 500;
}

.loginForm {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px 20px 10px;
}
.loginForm h4 {
    font-weight: normal;
    font-size: 20px;
}
.loginForm .input-group .input-group-addon {
    border: none;
    background: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    padding-left: 0;
}

.loginForm .form-control {
    border-bottom: 1px solid #c8c8c8;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    padding: .75rem 0;
}

.btnSignIn {
    background-color: #2484c6;
    color: #fff;
    text-transform: uppercase;
}

.loginForm a {
    color: #323c46;
    font-size: 16px;
}

.loginForm a:hover {
    text-decoration: none;
    color: #2484c6;
}


/* Banner section css end here */


/* Currency slider section css start here */
.marketSlider {
	min-height: 50px;
	box-shadow: 2px 0 4px rgba(0, 0, 0, 0.4);
	padding: 15px 0;
}

.clrNeg {
    color: #ed1a3b;
}

.clrPos {
    color: #0db14b;
}


/* Currency slider section css end here */


/* Graph section css start here */

.graphSec {
    min-height: 500px;
}
.graphSec h4 {
	font-size: 20px;
}
.graphSec .currVal li {
    font-size: 16px;
}

.graphSec .list-inline-item:not(:last-child) {
    margin-left: 30px;
}


/* Graph section css end here */


/* our features section css start here */

.ourFeatureSec {
    background: #f1f1f1;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f1f1f1 0%, #ffffff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f1f1f1 0%, #ffffff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f1f1f1 0%, #ffffff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff', GradientType=0);
    /* IE6-9*/
    min-height: 450px;
}

.ourFeatureSec h3 {
    font-size: 24px;
    font-weight: normal;
}

.ofTabSec .nav-link {
    font-size: 16px;
    padding: 10px 0px !important;
    margin: 0 10px;
    color: #323c46;
    border: none;
    border-bottom: 3px solid transparent;
}

.ofTabSec .nav-link.active,
.ofTabSec .nav-link:hover {
    background: none;
    border: none;
    border-bottom: 3px solid #2484c6;
}

.ofTabSec .tab-pane h4 {
    color: #2484c6;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
}


/* our features section css end here */


/* How it works section css start here */

.hiwSec {
    background: #2475c6;
    min-height: 270px;
}

.inTit {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.hiwContent {
    min-height: 240px;
    background-color: #fafafa;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: -100px;
    padding: 40px 80px 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
.hiwContent .list-inline-item {
	position: relative;
	display: table-cell;
	width: 1%;
	text-align: center;
}
.hiwContent .list-inline-item:not(:last-child)::after {
	content: url(../images/right-arrow.png);
	position: absolute;
	right: -15px;
	top: 0;
	top: 36px;
}
.icSec {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #b4bec8;
    text-align: center;
    line-height: 94px;
    margin: auto;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
    /* IE6-9*/
}

.hiwContent p {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 500;
}

.hiwContent li:hover .icSec {
    border: 2px solid transparent;
    box-shadow: 0 0 10px 2px #2483c5;
    background: #fff;
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    transition: ease 0.2s;
}

.hiwContent li:hover p {
    color: #2484c6;
}


/* How it works section css end here */


/* Start trading section css start here */

.sTSec {
    padding-top: 100px;
    padding-bottom: 60px;
    background: #fff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f0f0f0', GradientType=0);
    /* IE6-9*/
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}

.sTSec h4 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 20px;
}

.sTSec .input-group {
    height: 60px;
}

.sTSec input {
    border-radius: 30px 0 0 30px;
    padding-left: 30px;
}

.sTSec .btnPrime {
    height: 60px;
    background: #2484c6;
    color: #fff;
    font-size: 18px;
    border-radius: 0 30px 30px 0;
    padding: 10px 30px;
}

.sTSec .btnPrime:hover {
    background: #25a8ff;
}


/* Start trading section css end here */


/* Footer section css start here */

.footerSec {
    min-height: 240px;
    padding: 30px 0;
}

.footerLinks li a {
    font-size: 16px;
    color: #1e2832;
}

.footerLinks li a:hover {
    color: #25a8ff;
    text-decoration: none;
}

.footerLinks hr {
    border-color: #c8c8c8;
}

.socialIcons li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.socialIcons li a:hover {
    color: #fff;
}

.socialIcons li a.fbIcon {
    background-color: #6081c4;
}
.socialIcons li a.fbIcon:hover {
    background-color: #4063aa;
}

.socialIcons li a.twIcon {
    background-color: #43bdef;
}
.socialIcons li a.twIcon:hover {
    background-color: #259ac9;
}

.socialIcons li a.gplusIcon {
    background-color: #e62b33;
}
.socialIcons li a.gplusIcon:hover {
    background-color: #cc1c25;
}

.socialIcons li a.inIcon {
    background-color: #2797cf;
}
.socialIcons li a.inIcon:hover {
    background-color: #1883b9;
}

.footerLinks .list-inline-item:not(:last-child) {
    margin-right: 54px;
}

.socialIcons .list-inline-item:not(:last-child) {
    margin-right: 10px;
}

.copyRgtLbl {
    font-size: 16px;
    margin-top: 10px;
}


/* Footer section css end here */


/* Inner pages css start here */
.fgtPwdBg {
    height: 100vh;
    margin: 0;
    padding-top: 180px;
}
.logUsr li.nav-item.dropdown {
    padding: 24px 0;
}
.logUsrImg {
    background: #ddd;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    top: 3px;
    overflow: hidden;
    text-align: center;
}
.logUsrImg span {
    font-size: 30px;
    color: #fff;
    padding-top: 8px;
}
.logUsr .dropdown-toggle {
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    color: #323c46;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #2484c6;
    color: #fff !important;
} 

.formBorder {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #c8c8c8;
    padding: .75rem 0;
}

.midInTit {
    font-size: 20px;
    font-weight: normal;
}

.custom-control-description {
    font-size: 16px;
}
.alBannerSec {
    background: url("../images/al-banner.jpg") no-repeat center top #f9f9f9;
    margin-top: 90px;
    padding-top: 50px;
}
.innerMidSec {
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 30px;
}
.innerMidSec .nav-tabs {
    background: #f4f2f2;
    border: none;
}
.innerMidSec .nav-tabs .nav-item {
    margin-bottom: 0;
}
.innerMidSec .nav-tabs .nav-item a {
    background: #f4f2f2;
    border: none;
    font-size: 18px;
    color: #323c46;
    padding: .75rem .75rem;
    position: relative;
}
.innerMidSec .nav-tabs .nav-item a:hover,
.innerMidSec .nav-tabs .nav-item a.active {
    color: #2484c6;
}
.innerMidSec .nav-tabs .nav-item a:hover::after, 
.innerMidSec .nav-tabs .nav-item a.active::after {
	background: #2484c6;
	height: 4px;
	content: "";
	width: 100%;
	bottom: 0;
	position: absolute;
	left: 0;
}
.innerMidSec .nav-tabs .nav-item a span {
    margin-right: 10px;
}

.innerMidSec .tab-content .nav-tabs {
    background: transparent;
    border: none;
}
.innerMidSec .tab-content .nav-tabs a {
    background: transparent;
    font-size:24px;
    padding: .5rem;
}
.innerMidSec .tab-content .nav-tabs .nav-item a:hover::after, 
.innerMidSec .tab-content .nav-tabs .nav-item a.active::after {
	background: #2484c6;
	height: 2px;
	content: "";
	width: 100%;
	bottom: 0;
	position: absolute;
	left: 0;
}
.innerMidSec .tab-content .nav-tabs .nav-item a::after, 
.innerMidSec .tab-content .nav-tabs .nav-item a::after {
	background: #323c46;
	height: 2px;
	content: "";
	width: 100%;
	bottom: 0;
	position: absolute;
	left: 0;
}
.formLg, .selectLg {
    height: 46px !important;
    border: 1px solid #c8c8c8;
}
.selectMd {
    height: 32px !important;
    border: 1px solid #c8c8c8;
    padding: .1rem 1.75rem .375rem .75rem;
}
.innerMidSec form label {
    font-size: 16px;
    padding-bottom: 5px;
}
.btnSaveSm {
    background: #2484c6;
    color: #fff;
}
.btnSaveSm, .btnCancelSm {
    min-width: 104px;
    margin: 0 5px;
} 
.btnCancelSm {
    background: #dadada;
}
.btnCancelSm:hover {
    background: #c5c5c5;
}
.custom-select option {
	padding: 2px 15px;
}
.tfaSec p {
    font-size: 16px;
}
.qrCodeSec p {
    font-weight: 500;
}
.inTitLg {
    color: #2484c6;
    border-bottom: 2px solid #2484c6;
    padding-bottom: 10px;
    font-weight: normal;
    display: inline-block;
} 
.verDesc li {
    position: relative;
    padding-bottom: 15px;
    padding-left: 20px;
}
.verDesc li::after {
    background: #2484c6;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    position: absolute;
    content: "";
    left: 0;
    top: 5px;
    font-size: 20px;
}
/* .verDesc .custom-file-control:lang(en)::before {
    content: "Upload" ;
}
.verDesc .custom-file-control::before {
    background: #2484c6;
    color: #fff;
} */
.custom-control  {
    cursor: pointer;
}
.custom-file .custom-file-input {
    cursor: pointer;
}
.upldImg {
    width: 144px;
    height: 144px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    vertical-align: top;
}
.upldImg img {
    width: 100%;
    height: 100%;
}
.lftTit {
    font-size: 24px;
    font-weight: normal;
}
.secTit {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 20px;
}
.verLbl {
    margin-left: 10px;
}
.acAction span {
    color: #2484c6;
    margin: 0 10px;
}
.acAction span i {
    font-size: 18px;
    margin-right: 10px;
}
.currBlncTbl {
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    font-size: 16px;
    padding-bottom: 20px;
}
.currBlncTbl .table thead th {
    background-color: #2484c6;
    color: #fff;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
}
.cmsBlock .cmsHead {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.cmsBlock p {
    line-height: 26px;
}
.cmsMidSec {
    padding: 20px;
}

.depNavTabs li a {
	padding: 0.75rem 1.5rem !important;
}
.depQrSec {
    border: 2px solid #323c46;
    padding: 2.5rem;
}


.clrBlue, .clrCan {
    color: #2484c6;
}
.clrAprv {
    color: #52c127;
}
.clrPend {
    color: #ff4949;
}
.dataTable th {
    background-color: #2484c6;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
}
/* Inner pages css end here */


/* Trade page css start here */
.tradeTabSec {
    background: #2484c6;
    padding: 0;
}
.tradeTabSec .dropdown-toggle::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	top: 15px;
	content: url("../images/down-arrow-wht.png");
	border: none;
	position: absolute;
}
.tradeTabSec .navbar-brand {
    color: #fff;
}
.tradeTabSec {
	background-color: #2484c6;
	color: #fff;
	padding-bottom: 0;
    padding-top: 0;
    min-height: 62px;
}
.tradeTabSec .logUsr li .fa-home {
    color:#fff;
    font-size:24px;
}
.tradeWrapper {
    margin-top: 0;
    padding: 0;
}
.trdMidSec {
    border-left:1px solid #f0f0f0;
    border-right:1px solid #f0f0f0;
}
.homeIc {
    padding-top: 8px;
    padding-right: 10px;
}
.tradeTabSec .logUsr li.nav-item.dropdown {
    padding: 9px 0;
}
.tradeTabSec .logUsr li.nav-item.dropdown > a {
    color: #fff;
}
.orderTableScroll {
    overflow: hidden;
    height: 194px;
}
.trdTit h4 {
    color: #34aaef;
    font-size: 16px;
    font-weight: normal;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0 10px;
}
.orders_table thead, .orders_table tbody {
    display: block;
}
.orders_table thead th, .orders_table tbody td {
    width:100px;
}
.orders_table thead th:nth-child(2), .orders_table tbody td:nth-child(2) {
    width: 200px;
}
.buySellTbl thead th, .buySellTbl tbody td {
    width: 120px !important;
}
.orders_table thead th {
    background-color: #f0f0f0;
    font-weight: normal;
    color: #323c46;
    padding: .4rem .75rem;
}
.orders_table tbody tr:nth-child(2n+2) {
    background-color: #f6f7f8;
}
.orders_table tbody td {
    padding: .4rem .75rem;
    font-size: 12px;
}
.clrBuy {
    color: #26bb12;
}
.clrSell {
    color: #ff4949;
}
.pairValClr label {
	color: #26bb12;
}
.pairValClr2 label {
	color: #ff4949;
}


.buySellTableScroll {
    height: 216px;
    overflow: hidden;
}
.tradeHisTblScroll {
    height: 150px;
    overflow: hidden; 
}
.trdGraphTop {
    background-color: #f0f0f0;
    padding: 8px;
}
.trdGraphTop ul {
    margin: 0;
}
.trdGraphTop ul li {
    padding: 0 10px;
}
.trdGraphTop ul li a {
    color: #323c46;
}
.trdGraphTop ul li a:hover, .trdGraphTop ul li a.active {
    color: #2484c6;
    text-decoration: underline;
}
.trdPairLbl {
    padding-top: 6px;
    font-size: 16px;
}
.pairForm {
    height: 36px;
    border: 1px solid #f0f0f0;
}
.pairTabCont  {
    margin-top: 5px;
}
.pairTabCont label {
    font-size:14px;
}
.pairTabCont .btn {
    height: 42px;
    color: #fff;
    text-transform: uppercase;
    font-size:20px;
    border-radius:0;
}
.pairTabCont label {
    margin-bottom: 0;
}
.btnSell {
    background-color: #ff4949;
}
.btnSell:hover {
    background-color: #d62c2c;
}
.btnBuy {
    background-color: #26bb12;
}
.btnBuy:hover {
    background-color: #1e860e;
}
.pairNavTabs {
    background-color: #f0f0f0;
    border: none;
}
.pairNavTabs li a {
    padding: 0.5rem 1.5rem !important;
    border: none !important;
    background: none !important;
} 
.pairTabCont .form-group {
    margin-bottom: 5px;
}
/* Trade page css end here*/


.fnfMidSec {
	padding: 6rem 2rem;
}
.fnfMidSec p {
	font-size: 30px;
	margin-top: 2rem;
}

.feesTable {
    color: #323c46;
    border-bottom: 1px solid #323c46 !important;
}
.feesTable th {
    font-size: 18px;
    font-weight: normal;
    border-top: 1px solid #323c46;
    border-bottom: 1px solid #323c46 !important;
}
.feesTable td {
    font-size: 14px;
    border: none;
}

.textArea {
    height: 140px;
    resize: none;
    padding: 10px;
    border-radius: 8px;
    border:1px solid #c8c8c8;
    width: 100%;

}
.contRgt h4 {
    font-size: 20px;
    font-weight: 500;
}
.addInfo .addLftIcon {
    margin-bottom: 20px;
}
.addLftIcon span {
    display: inline-block;
    text-align: center;
    width: 16px;
    font-size: 18px;
}
.addLftIcon .addRight {
    display: inline-block;
    line-height: 20px;
    margin-left: 5px;
    vertical-align: top;
    width: 80%;
}
.addLftIcon span.fa.fa-envelope {
    font-size: 12px;
    position: relative;
    top: -1px;
}
.contactWrap .socialIcons {
    text-align: left;
}
.faqMidSec {
    padding: 20px 40px;
}
.faqRow {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
}
.faqRow::after {
    content: "";
    position: absolute;
    border-left: 2px dashed #ddd;
    height: 100%;
    top: 0;
    left: 14px;
    z-index: -1;
}
.faqRow > div {
    margin-top: 10px;
    margin-left: 48px;
}
.faqRow a {
    color: #323c46;
    font-size: 18px;
    font-weight: 500;
}
.faqRow a:hover {
    text-decoration: none;
}
.faqRow a span {
    font-weight: normal;
    border:1px solid #ddd;
    border-radius: 50%;
    height: 29px;
    width: 29px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    background-color: #fff;
}
.faqRow p {
    line-height: 26px;
    text-align: justify;
}




.hiwDet {
    min-height: 240px;
    margin-top: 30px;
}
.hiwDet .nav-item {
	position: relative;
	display: inline-block;
	/* width: 1%; */
	text-align: center;
}
.hiwDet .nav-item:not(:last-child)::after {
	content: url(../images/right-arrow.png);
	position: absolute;
	right: -15px;
	top: 40px;
	z-index: 1;
}


.hiwDet p {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 500;
}

.hiwDet li:hover .icSec {
    border: 2px solid transparent;
    box-shadow: 0 0 10px 2px #2483c5;
    background: #fff;
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    transition: ease 0.2s;
}

.hiwDet li:hover p {
    color: #2484c6;
}
.hiwDet  .nav-tabs {
	background: #fff;
    border: none;
    position: relative;
	display: inline-block;
}
.hiwDet .nav-tabs::before {
	border-bottom: 4px solid #000;
	content: "";
	width: 100%;
	bottom: 0;
	position: absolute;
	left: 0;
	z-index: 1;
}
.hiwDet .nav-tabs .nav-item a {
	background: #fff;
	padding: 0 1.75rem;
	display: inline-block;
}
.hwTabContent  .cmsHead {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.hiwDet .nav-tabs .nav-item a:hover::after,
 .hiwDet .nav-tabs .nav-item a.active::after {
	background: #2484c6;
	height: 4px;
	content: "";
	width: 100%;
	bottom: 0;
	position: absolute;
	left: 0;
	z-index: 2;
}





.newsHead {
    font-size: 20px;
    font-weight: 500;
    
    padding-bottom: 0;
    margin-bottom: 10px;
}
.newsHead p {
    text-decoration: underline;
}
.newsDesc {
    line-height: 26px;
}

.newsRow img {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.newsRow {
    margin-bottom: 30px;
}
.newsImg {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.newsImg span {
	background: rgba(50,60,70,0.8);
	padding: 10px 20px;
	font-size: 24px;
	font-weight: 500;
	color: #fff;
	position: absolute;
    text-transform: uppercase;
    border-radius: 5px 0 0 0;
}

.currBlncTbl th {
	width: 10%;
}

#tradeHisTbl th:first-child {
	width: 20% !important;
}
#wdwHisTbl th:nth-child(2), #depHisTbl th:nth-child(2) {
    width: 20% !important;
}




  





/** notification switch css 
.onoffswitch {
    position: relative; 
    width: 70px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; 
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; 
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 25px; 
    padding: 0; 
    line-height: 26px;
    font-size: 14px; 
    color: white; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #4144bd; 
    color: #FFFFFF;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #ddd; 
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 20px; 
    margin: 2px;
    background: #FFFFFF;
    border-radius: 20px;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 46px;
    -moz-transition: all 0.3s ease-in 0s; 
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; 
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/** notification switch css end **/


/** mscroll css starts here 
@media only screen and (max-width: 800px) {
.flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.flip-scroll * html .cf { zoom: 1; }
.flip-scroll *:first-child+html .cf { zoom: 1; }

.flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }

.flip-scroll th,
.flip-scroll td { margin: 0; vertical-align: top; }
.flip-scroll th { text-align: left; }

.flip-scroll table { display: block; position: relative; width: 100%; }
.flip-scroll thead { display: block; float: left; }
.flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
.flip-scroll thead tr { display: block; }
.flip-scroll th { display: block; text-align: right; }
.flip-scroll tbody tr { display: inline-block; vertical-align: top; }
.flip-scroll td { display: block; min-height: 1.25em; text-align: left; }

.flip-scroll th { border-bottom: 0; border-left: 0; }
.flip-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
.flip-scroll tbody tr { border-left: 1px solid #babcbf; }
.flip-scroll th:last-child,
.flip-scroll td:last-child { border-bottom: 1px solid #babcbf; }
}
/** mscroll css end here **/


 
  #loader {
    /* Uncomment this to make it run! */
    /* animation: loader 5s linear infinite; */
    position: fixed;
    /* top: calc(50% - 20px); */
    /* left: calc(50% - 20px); */
    background: rgba(105,151,219,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    z-index: 9999;


    display: none;
}
@keyframes loader {
    0% { left: -100px }
    100% { left: 110%; }
  }
  #box {
    width: 50px;
    height: 50px;
    background: #fff;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 3px;
    bottom: 0;
    margin: auto;
}
  @keyframes animate {
    17% { border-bottom-right-radius: 3px; }
    25% { transform: translateY(9px) rotate(22.5deg); }
    50% {
      transform: translateY(18px) scale(1,.9) rotate(45deg) ;
      border-bottom-right-radius: 40px;
    }
    75% { transform: translateY(9px) rotate(67.5deg); }
    100% { transform: translateY(0) rotate(90deg); }
  } 
  #shadow {
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 72px;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
    right: 0;
    margin: auto;
}
  @keyframes shadow {
    50% {
      transform: scale(1.2,1);
    }
  }
  



.w3-bar.w3-black {
    background-color: #2484c6 !important;
    padding: 1px;
}
button.w3-bar-item.w3-button.active {
    background-color: #f5f5f5;
    color: #000;
}
button.w3-bar-item.w3-button {
    width: 50%;
}
w3-button:hover {
    color: #000!important;
    background-color: #f5f5f5!important;
}
ul#buy_selection, ul#sell_selection {
    padding: 10px;
}



.featu_sec ul li a {
    text-transform: capitalize;
    font-size: 16px;
}