iao-alert-box {
	 box-sizing: border-box;
    display: block;
    overflow: auto;
    padding: 20px 20px 0;
    position: fixed;
    right: 20%;
    top: 0;
    width: 50%;
}
iao-alert-box[position='top-left'] {
	right: auto;
	left: 0
}
iao-alert-box[position='bottom-left'] {
	right: auto;
	left: 0;
	top: auto;
	bottom: 0;
}
iao-alert-box[position='bottom-right'] {
	right: 0;
	left: auto;
	top: auto;
	bottom: 0;
}
iao-alert {
	display: block;
	position: relative;
	font-size: 14px;
	padding: 10px 35px 10px 15px;
	font-weight: normal;
	background-color: #fff;
	margin-bottom: 20px;
	box-sizing: border-box;
	box-shadow: 0 3px 5px #aaa;
	letter-spacing: 1px;
	width: 465px;
}
iao-alert:before, iao-alert:after {
	content: "";
	position: absolute;
	background-color: #aaa;
	opacity: 0.8;
	transform: rotate(45deg);
}
iao-alert:before {
	width: 16px;
	height: 2px;
	box-sizing: border-box;
	right: 14px;
	top: calc(50% - 1px);
}
iao-alert:after {
	width: 2px;
	height: 16px;
	box-sizing: border-box;
	right: 21px;
	top: calc(50% - 8px);
}
iao-alert-close {
    position: absolute;
    display: block;
    right: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: calc(50% - 10px);
    z-index: 1;
}
iao-alert[fade-on-hover='true']:hover{
	opacity: 0.5;
}
iao-alert[close-on-click='true'] {
	cursor: pointer;
}
iao-alert[type='success'] {
	color: #34a853;
}
iao-alert[type='error'] {
	color: #ea4335;
}
iao-alert[type='warning'] {
	color: #fbbc05;
}
iao-alert[type='notification'] {
	color: #4285f4;
}
iao-alert[mode='dark']:before, iao-alert[mode='dark']:after {
	background-color: #fff;
}
iao-alert[mode='dark'] {
	color: #fff;
}
iao-alert[type='success'][mode='dark'] {
	background-color: #34a853;
}
iao-alert[type='error'][mode='dark'] {
	background-color: #ea4335;
}
iao-alert[type='warning'][mode='dark'] {
	background-color: #fbbc05;
}
iao-alert[type='notification'][mode='dark'] {
	background-color: #4285f4;
}
iao-alert[corners='round'] {
	border-radius: 4px;
}
