@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
.notoSans {font-family: 'Noto Sans KR', sans-serif;} 

@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
.namumBarunGothic {font-family: 'Nanum Barun Gothic', sans-serif;}

@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
.namumSquare {font-family: 'NanumSquare', sans-serif;}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
.roboto {font-family: 'Roboto', sans-serif;}

html {min-width:100%; height:100%; overflow-x:hidden;}
html,body,div,ul,ol,dl,li,dt,dd,tbody,table,tfoot,thead,tr,th,td,h1,h2,h3,h4,h5,h6,form,fieldset,input,select,textarea,button,p,a,span,img,option {margin:0;padding:0;}
body {font-size:12px; color:#333; font-weight:400; font-family:'Roboto', 'Noto Sans KR', sans-serif, Malgun Gothic, dotum, verdana; font-smoothing: antialiased; font-weight: 400;}
div, ul, li,dl,dt,dd,span,p,strong, table, th, td, a, ol, button {box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
html,body,div {display:block;}
ol,ul,dl {list-style:none;}
li,dl,dt,dd,p,select,input,button {margin:0;padding:0;}
img {vertical-align:top; border:0;}
a,a:link,a:hover,a:active {text-decoration:none;outline:none;/*select-dummy:expression(this.hideFocus=true);*/ transition: all.3s ease; color:#333; }
a:focus { text-decoration:none;}
em {font-style:normal;}
button {cursor:pointer;background:none;border:0 none;outline:none;/*select-dummy:expression(this.hideFocus=true);*/}
form,fieldset {border:none 0;}
iframe {border:0;.}
caption {padding:0; margin:0; font-size:0; line-height:0; overflow:hidden;}
caption,legend {display:none;padding:0; margin:0; font-size:0; line-height:0; overflow:hidden;}
form,fieldset {border:0;margin:0;padding:0;}
table,th,td {border-collapse:collapse;padding:0;margin:0;}
header,section,nav,aside,article,figure,figurecaption {display:block;margin:0;padding:0;}
label {cursor:pointer;}
hr {display:none;}

.blind {display:none;}
.clear {clear:both;}
.overflow {overflow:hidden;}

/*배경색 인쇄*/
h1, h2, h3, h4, h5, dl, dt, dd, ul, li, ol, th, td, p, blockquote, form, fieldset, legend, div,body {-webkit-print-color-adjust:exact;}



/************************************************************************************
Form
*************************************************************************************/
table {width:100%;}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="file"] {height:35px; padding:0 5px; border:1px solid #ddd; outline:none; -webkit-appearance:none; -webkit-border-radius:0; border-radius:0;}
textarea {width:94%; margin:0; padding:3%; resize:none; border:1px solid #ddd; -webkit-appearance:none; -webkit-border-radius:0; border-radius:0;}
select	{height:35px; padding:0 5px; color:#666; border:1px solid #ddd; background:#fff !important;}
input[type="submit"],
input[type="button"] {-webkit-appearance:none; -webkit-border-radius:0; border-radius:0; border:0 none; cursor:pointer;}
::-webkit-input-placeholder { color:#666; }
::-moz-placeholder { color:#666; } /* firefox 19+ */
:-ms-input-placeholder { color:#666; } /* ie */
input:-moz-placeholder { color:#666; }



/************************************************************************************
Text
*************************************************************************************/
.text_top	{vertical-align:top !important;}
.text_middle {text-align:middle !important;}
.text_bottom {text-align:bottom !important;}
.text_center {text-align:center !important;}
.text_left {text-align:left !important;}
.text_right {text-align:right !important;}
.normal {font-weight:400;}
.bold {font-weight:700;}



/************************************************************************************
Float
*************************************************************************************/
.fl_wrap:after {display:block; visibility:hidden; clear:both; content:""}
.fl_left {float:left !important;}
.fl_right {float:right !important;}



/************************************************************************************
Border
*************************************************************************************/
.bdnone {border:0 !important;}
.bd_top_0 {border-top:0 !important;}
.bd_right_0 {border-right:0 !important;}
.bd_bottom_0 {border-bottom:0 !important;}
.bd_left_0 {border-left:0 !important;}



/************************************************************************************
Margin
*************************************************************************************/
.mg00 {margin:0px !important;}	
.mg02 {margin:2px !important;}			
.mg03 {margin:3px !important;}			
.mg05 {margin:5px !important;}			
.mg10 {margin:10px !important;}		
.mg15 {margin:15px !important;}		
.mg20 {margin:20px !important;}		
.mg25 {margin:25px !important;}		
.mg30 {margin:30px !important;}		
.mg40 {margin:40px !important;}		
.mg50 {margin:50px !important;}		

.mt00 {margin-top:0px !important;}		.mb00 {margin-bottom:0px !important;}
.mt02 {margin-top:2px !important;}		.mb02 {margin-bottom:2px !important;}
.mt03 {margin-top:3px !important;}		.mb03 {margin-bottom:3px !important;}
.mt05 {margin-top:5px !important;}		.mb05 {margin-bottom:5px !important;}	
.mt10 {margin-top:10px !important;}		.mb10 {margin-bottom:10px !important;}
.mt15 {margin-top:15px !important;}		.mb15 {margin-bottom:15px !important;}
.mt20 {margin-top:20px !important;}		.mb20 {margin-bottom:20px !important;}
.mt25 {margin-top:25px !important;}		.mb25 {margin-bottom:25px !important;}
.mt30 {margin-top:30px !important;}		.mb30 {margin-bottom:30px !important;}
.mt40 {margin-top:40px !important;}		.mb40 {margin-bottom:40px !important;}
.mt50 {margin-top:50px !important;}		.mb50 {margin-bottom:50px !important;}

.ml00 {margin-left:0px !important;}		.mr00 {margin-right:0px !important;}
.ml02 {margin-left:2px !important;}		.mr02 {margin-right:2px !important;}
.ml03 {margin-left:3px !important;}		.mr03 {margin-right:3px !important;}
.ml05 {margin-left:5px !important;}		.mr05 {margin-right:5px !important;}	
.ml10 {margin-left:10px !important;}		.mr10 {margin-right:10px !important;}
.ml15 {margin-left:15px !important;}		.mr15 {margin-right:15px !important;}
.ml20 {margin-left:20px !important;}		.mr20 {margin-right:20px !important;}
.ml25 {margin-left:25px !important;}		.mr25 {margin-right:25px !important;}
.ml30 {margin-left:30px !important;}		.mr30 {margin-right:30px !important;}
.ml40 {margin-left:40px !important;}		.mr40 {margin-right:40px !important;}
.ml50 {margin-left:50px !important;}		.mr50 {margin-right:50px !important;}



/************************************************************************************
Padding
*************************************************************************************/
.pd00 {padding:0px !important;}
.pd02 {padding:2px !important;}			
.pd03 {padding:3px !important;}			
.pd05 {padding:5px !important;}			
.pd10 {padding:10px !important;}		
.pd15 {padding:15px !important;}		
.pd20 {padding:20px !important;}		
.pd25 {padding:25px !important;}		
.pd30 {padding:30px !important;}		
.pd40 {padding:40px !important;}		
.pd50 {padding:50px !important;}		

.pt00 {padding-top:0px !important;}		.pb00 {padding-bottom:0px !important;}
.pt02 {padding-top:2px !important;}		.pb02 {padding-bottom:2px !important;}
.pt03 {padding-top:3px !important;}		.pb03 {padding-bottom:3px !important;}
.pt05 {padding-top:5px !important;}		.pb05 {padding-bottom:5px !important;}	
.pt10 {padding-top:10px !important;}		.pb10 {padding-bottom:10px !important;}
.pt15 {padding-top:15px !important;}		.pb15 {padding-bottom:15px !important;}
.pt20 {padding-top:20px !important;}		.pb20 {padding-bottom:20px !important;}
.pt25 {padding-top:25px !important;}		.pb25 {padding-bottom:25px !important;}
.pt30 {padding-top:30px !important;}		.pb30 {padding-bottom:30px !important;}
.pt40 {padding-top:40px !important;}		.pb40 {padding-bottom:40px !important;}
.pt50 {padding-top:50px !important;}		.pb50 {padding-bottom:50px !important;}

.pl00 {padding-left:0px !important;}		.pr00 {padding-right:0px !important;}
.pl02 {padding-left:2px !important;}		.pr02 {padding-right:2px !important;}
.pl03 {padding-left:3px !important;}		.pr03 {padding-right:3px !important;}
.pl05 {padding-left:5px !important;}		.pr05 {padding-right:5px !important;}	
.pl10 {padding-left:10px !important;}		.pr10 {padding-right:10px !important;}
.pl15 {padding-left:15px !important;}		.pr15 {padding-right:15px !important;}
.pl20 {padding-left:20px !important;}		.pr20 {padding-right:20px !important;}
.pl25 {padding-left:25px !important;}		.pr25 {padding-right:25px !important;}
.pl30 {padding-left:30px !important;}		.pr30 {padding-right:30px !important;}
.pl40 {padding-left:40px !important;}		.pr40 {padding-right:40px !important;}
.pl50 {padding-left:50px !important;}		.pr50 {padding-right:50px !important;}



/************************************************************************************
width STYLE
*************************************************************************************/
.wp5 {width:5%;} 	.wp10 {width:10%;}	.wp15 {width:15%;}	.wp20 {width:20%;}
.wp25 {width:25%;}	.wp30 {width:30%;}	.wp35 {width:35%;}	.wp40 {width:40%;}
.wp45 {width:45%;}	.wp50 {width:50%;}	.wp55 {width:55%;}	.wp60 {width:60%;}
.wp65 {width:65%;}	.wp70 {width:70%;}	.wp75 {width:75%;}	.wp80 {width:80%;}
.wp85 {width:85%;}	.wp90 {width:90%;}	.wp95 {width:95%;}	.wp100 {width:100%;}