.error { color : red !important; }
.nohand { cursor : default; }
.atmcursor { cursor : pointer; }
.captcha_dd { position: relative;text-align: center; }
.captcha_span { position: absolute;bottom: 8px;left: 30px;font-size:25px; }