/* 반응형  */

.mobile_block {display:none !important;}

@media screen and (min-width: 1900px) {
	/* Main */
	.main_contents section {background-size:100%;}
}

@media screen and (max-width: 1400px) {
	.inner1 {width:1200px;}


	/* 거래소 */
	.trade_warp .graph_wrap .realTime {width:280px;}
	.trade_warp .graph_wrap .graph {width:620px; margin:0 10px;}
	.trade_warp .graph_wrap .graph .graph_content_box img {width:618px;}
	.trade_warp .graph_wrap .my_coin {width:280px;}
}

@media screen and (max-width: 1280px) {
	.inner1 {width:1000px; padding:0 10px;}
	.inner2 {width:1000px; padding:0 10px;}


	/* Main */
	.main_contents .cont1 {background:#777489 url(../images/main/bg_main1.jpg) right -250px top no-repeat;}
	.main_contents .cont2 {background:#fff url(../images/main/bg_main2.jpg) left -250px top no-repeat;}
	.main_contents .cont4 ul li {width:200px; margin-right:50px;}
	.main_contents .cont4 ul li:after {right:-36px;}


	/* 거래소 */
	.trade_warp .btn {padding:0 5px;}
	.trade_warp .graph_wrap .realTime {width:240px;}
	.trade_warp .info_box ul.fl_right li {margin-right:54px;}
	.trade_warp .graph_wrap .graph {width:480px; margin:0 10px;}
	.trade_warp .graph_wrap .graph .graph_content_box img {width:478px;}
	.trade_warp .graph_wrap .my_coin {width:260px;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div {padding:25px 20px;}
	.trade_warp .graph_wrap .my_coin .interest .search_box .fl_left {width:50%;}
	.trade_warp .graph_wrap .my_coin .interest .search_box .fl_left input[type='search'] {padding:0 5px;}
	.trade_warp .graph_wrap .my_coin .interest .search_box .fl_right {width:50%;}
	.trade_warp .graph_wrap .my_coin .interest .search_box .fl_right span {margin:0 2px;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd span {left:80%;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.count span {left:65%;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.btn_num input {font-size:13px; letter-spacing:-0.5px;}


	/* 자산 - 입금 */
	.deposit .address_box .btn_wrap .btn {width:49%; margin:0;}
}

@media screen and (min-width: 1024px) {
	.header_wrap .gnb_wrap .gnb ul {display:none !important;}
	.opacity_bg {display:none !important;}
}

@media screen and (max-width: 1024px) {
	.mobile_none {display:none !important;}
	.mobile_block {display:block !important;}

	select {padding-right:6%; -webkit-appearance: none; -moz-appearance: none; appearance: none; background:#fff url(../images/common/ic_select_arrow.png) right 6% center no-repeat !important;}
	select::-ms-expand {display: none; }

	.inner1 {width:96%; padding:0;}
	.inner2 {width:96%; padding:0;}

	/* Header */
	header {position:fixed; background:none; z-index:15;}
	.header_wrap .btn_gnb {position:fixed; right:4%; top:20px; z-index:1; transition:transform .1s;}
	.header_wrap .btn_gnb.hide {transform: translateY(-220%);}
	.header_wrap .logo {position:fixed; left:0; top:0; width:100%; background:#252532; transition:transform .1s;}
	.header_wrap .logo.hide {transform: translateY(-100%);}
	.header_wrap .logo a {display:inline-block;}

	.header_wrap .gnb_wrap {position:fixed; right:-280px; top:0; width:280px; height:100%; overflow-y:auto; background:#fff; z-index:13;}
	.header_wrap .gnb_wrap .gnb>li {display:block; width:100%; padding:0; border-bottom:1px solid #ddd;}
	.header_wrap .gnb_wrap .gnb>li.active {border-bottom:1px solid #ddd;}
	.header_wrap .gnb_wrap .gnb>li>a {padding:17px 25px; font-size:15px; color:#333; text-align:left;}
	.header_wrap .gnb_wrap .gnb>li>button {display:block; width:100%; padding:17px 25px; font-size:15px; color:#333; text-align:left; background:url(../images/common/ic_down.png) right 20px center no-repeat; background-size:17px;}
	.header_wrap .gnb_wrap .gnb>li.active>button {font-weight:600; background:url(../images/common/ic_up.png) right 20px center no-repeat; background-size:17px;}
	.header_wrap .gnb_wrap .gnb>li.active>a {font-weight:600;}
	.header_wrap .gnb_wrap .gnb>li.active ul {display:block;}

	.header_wrap .gnb_wrap .utill {position:relative; float:none !important; width:100%; padding:0 15px; text-align:left; background:#252532;}
	.header_wrap .gnb_wrap .utill li {padding:11px 10px 11px 0;}
	.header_wrap .gnb_wrap .utill li a {padding:10px 0 10px 18px; font-size:13px; background-size:auto 15px !important;}
	.header_wrap .gnb_wrap .utill .btn_close {position:absolute; right:15px; top:19px; padding:0;}


	/* Footer */
	.footer_menu {height:39px; padding:13px 0;}
	.footer_menu ul li {height:12px; margin-right:10px;}
	.footer_menu ul li a {padding-right:10px; font-size:11px; letter-spacing:-0.5px;}
	.footer_menu ul li:nth-child(4) {border-right:0;}

	.footer_wrap {padding:15px 0 20px;}
	.footer_wrap p {font-size:11px; line-height:18px;}
	.footer_wrap p span {margin-right:10px; padding:0 10px 0px 0; letter-spacing:-0.5px;}
	.footer_wrap .btn_top {top:-67px;}


	/* Main */
	.main_contents .inner2 {padding:0 10px;}
	.main_contents section h1 {font-size:30px; line-height:44px;}

	.main_contents .cont1 {height:435px; background-size:auto 100%;}
	.main_contents .cont1 h1 {padding:150px 0 0; font-size:30px;}
	.main_contents .cont1 p {font-size:21px;}

	.main_contents .cont2 {height:440px; background-size:auto 100%;}
	.main_contents .cont2 h1 {padding:105px 0 45px;}

	.main_contents .cont3 {height:415px; background-size:auto 100%;}
	.main_contents .cont3 h1 {padding-top:62px;}

	.main_contents .cont4 {padding:90px 0 77px;}
	.main_contents .cont4 ul {margin:60px 0 50px;}
	.main_contents .cont4 ul li {width:155px; height:155px; margin-right:40px; padding-top:30px;}
	.main_contents .cont4 ul li:after {right:-32px; top:67px;}
	.main_contents .cont4 ul li img {height:60px; margin-bottom:15px;}

	
	/* Table */
	.form_search {padding:10px 0;}

	table.form_type1 th {font-size:12px;}
	table.form_type1 td {font-size:12px;}

	table.form_type2 th {height:40px; font-size:12px;}
	table.form_type2 td {height:40px; font-size:12px;}


	/* Sub */
	.sub_container {padding-top:101px; transition:transform .3s;}
	.sub_menu {display:none;}


	/* Page Title */
	.page_title {display:block;}
	.page_title.hide {transform: translateY(-146%);}


	/* 거래소 */
	.trade_warp .btn {padding:0 8px;}
	.trade_warp .info_box {height:90px; margin-bottom:20px; padding:0 10px;}
	.trade_warp .info_box p.fl_left {padding:25px 0 0 0;}
	.trade_warp .info_box ul.fl_right {padding-left:0;}
	.trade_warp .info_box ul.fl_right li {margin-right:30px;}
	.trade_warp .info_box ul.fl_right li:last-child {margin-right:0;}
	.trade_warp .info_box ul.fl_right li dt {margin:22px 0 8px;}
	.trade_warp .info_box ul.fl_right li dd.red {font-size:18px; line-height:18px;}

	.trade_warp .graph_wrap>div {float:none; margin-bottom:15px;}

	.trade_warp .graph_wrap .realTime {width:100%;}
	.trade_warp .graph_wrap .realTime .graph_content_box {height:765px;}
	.trade_warp .graph_wrap .realTime .newest {top:380px;}

	.trade_warp .graph_wrap .realTime .down_table {height:341px;}
	.trade_warp .graph_wrap .realTime .up_table {height:336px;}

	.trade_warp .graph_wrap .graph {width:100%; margin:0;}
	.trade_warp .graph_wrap .graph .graph_content_box {height:360px;}
	.trade_warp .graph_wrap .graph .graph_content_box img {width:100%; height:360px;}
	.trade_warp .graph_wrap .graph .order_box {margin-top:15px;}
	.trade_warp .graph_wrap .graph .order_box .tooltip_box {left:-6px;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div {padding:30px;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl {margin:20px 0;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd input[type="text"] {width:80.5%;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.count input[type="text"] {width:75%;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd span {left:85%;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.count span {left:77%;}

	.trade_warp .graph_wrap .my_coin {width:100%; margin-top:15px;}
	.trade_warp .graph_wrap .my_coin .interest .search_box .fl_left {width:58%;}
	.trade_warp .graph_wrap .my_coin .interest .search_box .fl_right {width:42%; padding-left:20px;}


	/* 자산 - 자산현황 */
	.status .form_search {border-top:0;}
	.status .form_search>div {float:none !important; display:block; width:100%;}
	.status .form_search input[type='search'] {width:200px;}
	.status .form_search input.btn_search {margin-right:10px;}
	.status .form_search .fl_right {float:none !important; margin:10px 0 0; text-align:left; font-size:13px; line-height:24px;}
	.status .form_search .fl_right dl dt {float:left;}
	.status .form_search .fl_right dl dd {float:right;}
	.status .form_search .tooltip_box {left:102px;}
	.status .table_body {border-top:2px solid #333;}
	.status ul {position:relative !important; padding-bottom:10px;}
	.status ul li:after {display:block;visibility:hidden;clear:both;content:""}
	.status ul li {float:none; height:auto; padding:3px 15px; font-size:12px; line-height:inherit; text-align:left;}
	.status ul li span {width:50%; color:#666;}
	.status ul li span:last-child {float:right; text-align:right; font-size:13px;}
	.status ul li .btn {padding:0 10px;}
	.status ul li .btn_trade {padding-left:25px; background:#fff url(../images/common/ic_trade.png) left 10px center no-repeat;}
	.status .column2 {width:100%; padding:10px 60% 10px 15px; font-size:15px; font-weight:600; color:#003399;}
	.status .column2 span {display:block; float:none; width:100%; font-size:12px;  color:#003399; text-align:left !important;}
	.status .column3 {width:100%;}
	.status .column4 {width:100%;}
	.status .column5 {width:100%;}
	.status .column6 {position:absolute; right:0; top:14px; width:60%; text-align:right;}


	/* 자산 - 입금 */
	.deposit {border-top:0;}
	.deposit .coin_info dl dd {padding-right:0;}


	/* 자산 - 출금 */
	.withdraw .withdrow_price dl dd {padding-right:0px;}
	.withdraw .withdrow_price dl dd.fl_wrap input[type='text'] {width:70%; padding-right:12%;}
	.withdraw .withdrow_price dl dd.fl_wrap input.btn {width:16%;}
	.withdraw .withdrow_price dl dd.fl_wrap>span {left:75%;}
	.withdraw .withdrow_price .btn_wrap {margin-top:20px;}
	.withdraw .withdrow_price .btn_wrap .btn {width:100%; height:45px;}


	/* Mypage - 회원정보 */
	.mypage {padding:20px 0 50px; border:0;}
	.mypage>div {margin:0 0 45px;}
	.mypage .title {margin:0 0 10px;}
}

@media screen and (max-width: 840px) {
	/* Footer */
	.footer_wrap .btn_top {width:35px; height:35px; background-size:100%;}
	.footer_wrap .btn_top {top:-60px;}


	/* Main */
	.main_contents section h1 {font-size:20px; line-height:32px;}

	.main_contents .cont1 {height:335px;}
	.main_contents .cont1 h1 {padding:120px 0 0; font-size:22px;}
	.main_contents .cont1 p {font-size:17px;}

	.main_contents .cont2 {height:340px;}
	.main_contents .cont2 h1 {padding:80px 0 25px;}

	.main_contents .cont3 {height:315px;}
	.main_contents .cont3 h1 {padding-top:50px;}
	.main_contents .cont3 h1 img {width:140px; margin-bottom:25px;}

	.main_contents .cont4 {padding:70px 0;}
	.main_contents .cont4 ul {margin:50px 0 40px;}
	.main_contents .cont4 ul li {width:120px; height:120px; margin-right:20px; padding-top:21px; font-size:16px;}
	.main_contents .cont4 ul li:after {right:-18px; top:52px; width:10px; height:16px; background-size:100%;}
	.main_contents .cont4 ul li img {height:45px; margin-bottom:5px;}


	/* 거래소 */
	.trade_warp .btn {padding:0 8px;}
	.trade_warp .info_box {height:auto; margin-bottom:20px; padding-bottom:20px;}
	.trade_warp .info_box p.fl_left {padding:20px 0 0 0;}
	.trade_warp .info_box p.fl_left b {font-size:18px;}
	.trade_warp .info_box ul.fl_right {padding-left:0;}
	.trade_warp .info_box ul.fl_right li {width:35%; margin-right:0;}
	.trade_warp .info_box ul.fl_right li:first-child,
	.trade_warp .info_box ul.fl_right li:nth-child(4) {width:40%; margin-right:0;}
	.trade_warp .info_box ul.fl_right li:nth-child(3) {width:25%; margin-right:0;}
	.trade_warp .info_box ul.fl_right li:last-child {margin-right:0;}
	.trade_warp .info_box ul.fl_right li dt {margin:20px 0 5px;}
	.trade_warp .info_box ul.fl_right li dd.red {font-size:16px;}

	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd span {left:82%;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.count span {left:72%;}

	.trade_warp .table_wrap .scroll {position:relative; width:100%; overflow-x:auto;}
	.trade_warp .table_wrap .scroll table {width:840px;}
	.trade_warp .table_wrap .ic_left {top:35px;}
	.trade_warp .table_wrap .ic_right {display:block; top:35px;}
	.trade_warp .table_wrap .my_order .ic_left {top:42px;}
	.trade_warp .table_wrap .my_order .ic_right {top:42px;}


	/* 자산 - 입금 */
	.deposit>div {width:100%; margin-bottom:15px;}


	/* Mypage - 회원정보 */
	.mypage>div {margin:0 0 30px;}
	.mypage table th {padding:0 15px; word-break:keep-all;}
	.mypage table td {padding:0 15px; word-break:keep-all;}
	.mypage table td .radio_style {padding-right:20px;}
	.mypage ul {border-top:2px solid #333;}
	.mypage ul li {padding:20px 0 20px 90px; border-bottom:1px solid #ddd;}
	.mypage ul li .flatCheck {margin:23px 20px;}
	.mypage .push span.gray {font-size:12px;}
	.mypage .factor_auth .fl_left {width:70%;}
	.mypage ul li.bg_phone {background:url(../images/mypage/img_phone.png) left 19px center no-repeat; background-size:45px !important;}
	.mypage ul li.bg_pc {background:url(../images/mypage/img_pc.png) left 19px center no-repeat; background-size:45px !important;}
	.mypage ul li.bg_pc2 {background:url(../images/mypage/img_pc2.png) left 19px center no-repeat; background-size:45px !important;}
	.mypage ul li.bg_safe {background:url(../images/mypage/img_safe.png) left 19px center no-repeat; background-size:45px !important;}
}

@media screen and (max-width: 640px) {
	/* Header */
	header .logo a img {width:100px}


	/* Main */
	.main_contents .cont1 {height:335px; background:#777489 url(../images/main/m_bg_main1.jpg) right -50px top no-repeat;}
	.main_contents .cont1 .btn_wrap {margin-top:30px;}
	.main_contents .cont1 .btn_wrap a.btn {width:160px; height:50px; line-height:50px;}
	.main_contents .cont1 .btn_wrap a.btn_black {background:#000 url(../images/main/ic_arrow_white.png) right 25px center no-repeat;}
	.main_contents .cont1 .btn_wrap a.btn_blue {background:#003399 url(../images/main/ic_arrow_white.png) right 25px center no-repeat;}

	.main_contents .cont2 {height:340px; background:#fff url(../images/main/m_bg_main2.jpg) right -70px top no-repeat;}

	.main_contents .cont3 {height:315px; background:#003399 url(../images/main/m_bg_main3.jpg) center top no-repeat; background-size:auto 80%;}

	.main_contents .cont4 ul li {width:93px; height:93px; margin-right:17px; padding-top:15px; font-size:14px; letter-spacing:-1px;}
	.main_contents .cont4 ul li:after {right:-17px; top:40px; width:7px; height:14px; background:url(../images/main/m_ic_arrow_black.png) no-repeat; background-size:100%;}
	.main_contents .cont4 ul li img {height:40px; margin-bottom:5px;}
	.main_contents .cont4 .btn_wrap a.btn {width:150px; height:50px; margin:0 5px; line-height:50px;}


	/* Sub */
	.sub_container {padding-top:93px;}


	/* Page Title */
	.page_title {top:52px;}
	.page_title.hide {transform: translateY(-127%);}


	/* 거래소 */
	.trade_warp .btn {padding:0 8px;}
	.trade_warp .info_box {height:auto; margin-bottom:20px; padding-bottom:20px;}
	.trade_warp .info_box p.fl_left {width:100%; padding:20px 0 0 0;}
	.trade_warp .info_box p.fl_left span img {width:14px;}
	.trade_warp .info_box p.fl_left b {font-size:16px;}
	.trade_warp .info_box ul.fl_right {width:100%; margin-top:-43px;}
	.trade_warp .info_box ul.fl_right li {width:33.333333%; margin-right:0;}
	.trade_warp .info_box ul.fl_right li:first-child,
	.trade_warp .info_box ul.fl_right li:nth-child(2) {float:none; width:100%; margin:3px 0; padding-left:40%;}
	.trade_warp .info_box ul.fl_right li:first-child dt,
	.trade_warp .info_box ul.fl_right li:nth-child(2) dt {display:none;}
	.trade_warp .info_box ul.fl_right li:nth-child(3),
	.trade_warp .info_box ul.fl_right li:nth-child(4) {width:33.333333%; }
	.trade_warp .info_box ul.fl_right li dt {margin:10px 0 0px; font-size:12px;}
	.trade_warp .info_box ul.fl_right li dd {font-size:12px;}
	.trade_warp .info_box ul.fl_right li dd.red {font-size:18px;}

	.trade_warp .graph_wrap .graph .graph_content_box {height:200px;}
	.trade_warp .graph_wrap .graph .graph_content_box img {height:200px;}
	.trade_warp .graph_wrap .graph .order_box .tab_header li {padding:0 10px;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div {width:100%; padding:15px 20px; border:0; border-bottom:1px solid #ddd;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div:last-child {border-bottom:0;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div .title {font-size:14px;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl {margin:10px 0;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dt {height:37px; line-height:37px;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd {height:37px;padding:1px 0;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd span {top:9px; left:85%;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.count span {left:78%;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.count .btn_wrap {top:1px;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd input[type="text"] {width:80%;}
	.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.count input[type="text"] {width:75%;}
	.trade_warp .graph_wrap .graph .graph_box .graph_title_box .btn_wrap.fl_left {width:100%; margin-bottom:5px;}
	.trade_warp .graph_wrap .graph .graph_box .graph_title_box .btn_wrap.fl_left * {width:19%;}
	.trade_warp .graph_wrap .graph .graph_box .graph_title_box .btn_wrap.fl_left select {margin-left:0;}

	.trade_warp .graph_wrap .my_coin .interest .scroll {height:200px;}
	.trade_warp .graph_wrap .my_coin .interest .search_box .fl_right {padding-left:5px;}
	.trade_warp .graph_wrap .my_coin .history .graph_content_box {height:200px;}

	.trade_warp .table_wrap .title {margin:30px 0 5px; font-size:14px;}
	.trade_warp .table_wrap .title span {font-size:12px;}
	.trade_warp .table_wrap .title a {margin-left:10px; margin-top:-7px; font-size:12px;}
	.trade_warp .table_wrap select {font-size:12px;}
	.trade_warp .table_wrap .ic_left {top:28px;}
	.trade_warp .table_wrap .ic_right {display:block; top:28px;}
	.trade_warp .table_wrap .my_order .ic_left {top:30px;}
	.trade_warp .table_wrap .my_order .ic_right {top:30px;}


	/* Member */
	.register .title {margin-bottom:30px; text-align:center;}
	.register .title a {float:none !important; display:inline-block;}
	.register .title b {display:none;}
	.member_box  {width:94%; margin:30px auto 70px; padding:0; border:0;}
	.auth_mail dl dd {text-align:center;}
	.join_com dl dd.msg_box p {padding-left:20px; background:url(../images/common/ic_ex_red.png) left top 4px no-repeat;}
}

@media screen and (max-width: 480px) {
	/* Footer */
	.footer_menu ul li a {letter-spacing:-1px;}

	.footer_wrap p span {letter-spacing:-1px;}


	/* Main */
	.main_contents section h1 {font-size:18px; line-height:26px;}

	.main_contents .cont1 {height:300px; background:#777489 url(../images/main/m_bg_main1.jpg) right -20px top no-repeat; background-size:auto 100%;}
	.main_contents .cont1 h1 {padding:100px 0 0; font-size:20px;}
	.main_contents .cont1 p {font-size:16px;}
	.main_contents .cont1 .btn_wrap a.btn {width:140px; font-size:14px;}

	.main_contents .cont2 {height:240px; background:#fff url(../images/main/m_bg_main2.jpg) right -80px top no-repeat; background-size:auto 100%;}
	.main_contents .cont2 h1 {padding:45px 0 25px;}
	.main_contents .cont2 p {font-size:16px; line-height:24px;}

	.main_contents .cont3 {height:220px; background:#003399 url(../images/main/m_bg_main3.jpg) center top no-repeat; background-size:auto 100%;}
	.main_contents .cont3 h1 {padding-top:45px;}
	.main_contents .cont3 h1 img {width:70px; margin-bottom:15px;}

	.main_contents .cont4 {padding:35px 0;}
	.main_contents .cont4 ul {margin:20px 0 30px;}
	.main_contents .cont4 ul li {width:68px; height:65px; margin-right:13px; padding-top:10px; font-size:10px; letter-spacing:-0.7px;}
	.main_contents .cont4 ul li:after {right:-12px; top:32px; width:7px;}
	.main_contents .cont4 ul li img {height:28px; margin-bottom:2px;}
	.main_contents .cont4 .btn_wrap a.btn {font-size:14px;}


	/* 자산 */
	.assets_warp {width:100%;}


	/* 자산 - 자산현황 */
	.status .form_search {padding:0;}
	.status .form_search .fl_left {padding:10px 2% 0;}
	.status .form_search .fl_right {padding:10px 2%; background:#f4f6fc;}
	

	/* 자산 - 입금 */
	.deposit {padding:15px 0 50px;}
	.deposit>div {margin-bottom:0; border:0; border-bottom:1px solid #ddd;}
	.deposit>div>div {padding:20px;}
	.deposit .coin_info {padding:0 20px 20px;}
	.deposit .address_box .text_box {padding:10px; font-size:13px; line-height:20px;}
	.deposit .address_box .btn_wrap {margin-top:15px;}
	.deposit .trade_move dd {width:24%;}
	.deposit .history {height:375px; border-bottom:0;}
	.deposit .history .title {padding:15px 20px;}
	.deposit .history .scroll {height:281px;}
	.deposit .history .history_cont.empty {background:url(../images/assets/img_find.png) center top 40px no-repeat;}
	.deposit .history .history_cont.empty .empty_text {top:170px;}
	.deposit .history table th {font-size:13px;}
	.deposit .history table td {font-size:13px;}


	/* 자산 - 출금 */
	.withdraw .history {height:375px;}
	.withdraw .history .scroll {height:281px;}


	/* Member - 회원가입 */
	.register .title {margin-bottom:22px;}
	.register .title img {width:150px;}
	.register .write_wrap dd {margin-bottom:7px;}
	.register .write_wrap dd input[type='text'],
	.register .write_wrap dd input[type='password'] {height:40px;}
	.register .write_wrap .capcha input[type='image'] {width:42%; height:42px;}
	.register .write_wrap .capcha .btn_reload {width:40px; height:42px;}
	.register .write_wrap .capcha input[type='text'] {width:42%; padding-left:5px;}
	.register .write_wrap .btn_wrap .btn {width:100%; height:45px; font-size:15px;}
	.register .write_wrap .go_login {font-size:13px; color:#666;}
	.register .write_wrap .go_login a {padding-right:15px; color:#209ed3; background:#fff url(../images/member/ic_arrow_gray.png) right center no-repeat;}
	.login .go_login .fl_left a {padding-right:0; color:#666; background:none; border-bottom:1px solid #666;}


	/* Member - 이메일 인증 */
	.auth_mail dl dt {font-size:22px;}
	.auth_mail dl dt img {width:75px;}
	.auth_mail dl dd {font-size:14px; line-height:22px;}


	/* Member - 가입완료 */
	.join_com dl dt {font-size:22px;}
	.join_com dl dd p {font-size:19px;}

	
	/* Mypage - 회원정보 */
	.mypage .title {font-size:14px;}
	.mypage table td .radio_style {padding-right:10px;}
	.mypage ul li {padding-left:10px !important; background:none !important}
	.mypage ul li p {font-size:13px; line-height:20px;}
	.mypage ul li .flatCheck {margin:14px 20px;}

	.flatCheck {width:40px; height:20px;}
	.flatCheck div {top:-16px;}
	.flatCheck label {top:2px; left:0px; width:18px; height:18px;}
	.flatCheck input[type=checkbox]:checked ~ label {left:20px;}
}

@media screen and (max-width: 400px) {
	/* 자산 - 입금 */
	.deposit .coin_info dl dd b {font-size:16px;}
	.deposit .trade_move dd .btn {font-size:12px;}


	/* 자산 - 출금 */
	.withdraw .withdrow_price dl dd.fl_wrap input[type='text'] {width:66%; padding-right:12%;}
	.withdraw .withdrow_price dl dd.fl_wrap input.btn {width:20%;}
	.withdraw .withdrow_price dl dd.fl_wrap>span {left:68%;}
	.withdraw .withdrow_price .btn_wrap {margin-top:20px;}
	.withdraw .withdrow_price .btn_wrap .btn {width:100%; height:45px;}
}