@import url(basic.css); /* 초기화 */

.inner1 {width:1400px; margin:0 auto;}
.inner2 {width:1200px; margin:0 auto;}

/************************************************************************************
Header st.
*************************************************************************************/
header {height:60px; background:#252532;}
.header_wrap {position:relative;}

.header_wrap .logo {}
.header_wrap .logo a {display:block; padding:17px;}

.header_wrap .gnb_wrap {position:absolute; right:0; top:0; width:calc(100% - 186px); text-align:center; font-family: 'Nanum Barun Gothic', sans-serif;}
.header_wrap .gnb_wrap .gnb {}
.header_wrap .gnb_wrap .gnb>li {display:inline-block; width:13%; padding:9.5px 0 4.5px;}
.header_wrap .gnb_wrap .gnb>li.active {border-bottom:5px solid #1957d4;} 
.header_wrap .gnb_wrap .gnb>li a {display:block; padding:10px; font-size:16px; color:#fff;} 
.header_wrap .gnb_wrap .gnb ul {display:none; padding:5px 25px; text-align:left; background:#f6f6f6; border-top:1px solid #ddd;}
.header_wrap .gnb_wrap .gnb ul li {display:block; width:100%; padding:0; font-size:14px;}
.header_wrap .gnb_wrap .gnb ul li a {display:block; padding:9px 6px; font-size:13px; color:#333; background:url(../images/common/ic_bul.png) left center no-repeat; background-size:3px;}

.header_wrap .gnb_wrap .utill {position:relative; width:250px; text-align:right; font-family: 'Nanum Barun Gothic', sans-serif;}
.header_wrap .gnb_wrap .utill li {display:inline-block; padding:11px 20px 11px 0;}
.header_wrap .gnb_wrap .utill li a {display:block; padding:10px 0 10px 25px; font-size:14px; color:#fff;}
.header_wrap .gnb_wrap .utill li a.btn_login {background:url(../images/common/ic_lock.png) left center no-repeat;}
.header_wrap .gnb_wrap .utill li a.btn_logout {background:url(../images/common/ic_lock.png) left center no-repeat;}
.header_wrap .gnb_wrap .utill li a.btn_join {background:url(../images/common/ic_people.png) left center no-repeat;}
.header_wrap .gnb_wrap .utill li a.btn_mypage {background:url(../images/common/ic_people.png) left center no-repeat;}

.opacity_bg {display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.5); z-index:12;}




/************************************************************************************
Footer st.
*************************************************************************************/
footer {background:#333;}

.footer_menu {height:55px; padding:22px 0; border-bottom:1px solid #5c5c5c;}
.footer_menu ul li {float:left; height:13px; margin-right:12px; border-right:1px solid #595959;}
.footer_menu ul li:last-child {border-right:0; margin-right:0; }
.footer_menu ul li a {display:block; padding-right:12px; line-height:11px; font-size:14px; color:#999;}
.footer_menu ul li:last-child a {padding-right:0;}
.footer_menu ul li a b {color:#008cc6;}

.footer_wrap {position:relative; padding:25px 0 30px;}
.footer_wrap p {font-size:13px; color:#999; line-height:25px; word-break:keep-all;}
.footer_wrap p span {display:inline-block; margin-right:13px; padding:0 13px 2px 0; line-height:12px; border-right:1px solid #595959;}
.footer_wrap p b {color:#fff;}
.footer_wrap p.copy {margin-top:15px;}
.footer_wrap .btn_top {position:absolute; top:-80px; right:17px;}



/************************************************************************************
UI st.
*************************************************************************************/
/* btn */
.btn_wrap:after {display:block;visibility:hidden;clear:both;content:""}
.btn {display:inline-block; text-align:center; border-radius:0;}

.btn_top {width:48px; height:48px; background:url(../images/common/btn_top.png) center center no-repeat; text-indent:-9999px;}
.btn_gnb {width:25px; height:17px; background:url(../images/common/btn_gnb.png) center center no-repeat; background-size:100%; text-indent:-9999px;}
.btn_close {width:22px; height:21px; background:url(../images/common/ic_close.png) center center no-repeat; background-size:100%; text-indent:-9999px;}
.btn_search {width:14px; height:14px; background:url(../images/common/ic_search.png) center center no-repeat; background-size:100%; text-indent:-9999px;}
.btn_detail {width:21px; height:20px; background:url(../images/common/ic_detail.png) center center no-repeat; background-size:100%; text-indent:-9999px;}
.btn_more {height:15px; padding-left:23px; line-height:15px; background:url(../images/common/ic_plus.png) left center no-repeat;}

.btn_blue {background:#003399; color:#fff !important;}
.btn_lightblue {background:#008cc6; color:#fff !important;}
.btn_black {background:#000; color:#fff !important;}
.btn_border_gray {background:#fff; border:1px solid #ddd !important; color:#333 !important;}
.btn_border_gray.active {background:#fff; border:1px solid #5787e9 !important; color:#1957d4 !important;}

.ic_left {position:absolute; display:none; left:0; width:30px; height:38px; background:rgba(255, 255, 255, 0.7) url(../images/common/m_ic_arrow_tb_left.png) center center no-repeat;}
.ic_right {position:absolute; display:none; right:0; width:30px; height:38px; background:rgba(255, 255, 255, 0.7) url(../images/common/m_ic_arrow_tb_right.png) center center no-repeat;}

/* file */
.filebox {margin-bottom:5px;}
.filebox label {position:relative; cursor:pointer; display:inline-block; vertical-align:middle; overflow:hidden; width:120px; height:52px; margin-left:5px; text-align:center; font-size:15px; color:#000; line-height:50px;}
.filebox label input {position:absolute; right:0; width:0; height:0; overflow:hidden; border:0; display:none;}
.filebox input[type='text'] {vertical-align:middle; display:inline-block; width:400px; height:50px; line-height:50px; font-size:13px;}

/* Checkbox, Radio */
.check_style input[type='checkbox'] {display:none;}
.check_style label {display:inline-block;  vertical-align:middle;}
.check_style input + label.check_img {position:relative; width:14px; height:14px; text-align:center; cursor:pointer; background:url('../images/common/ic_check_off.png') no-repeat;}
.check_style input:checked + label.check_img:after {position:absolute; top:0px; left:0; width:14px; height:14px; content: ' '; background: url('../images/common/ic_check_on.png') no-repeat;}

.radio_style input[type='radio'] {display:none;}
.radio_style label {display:inline-block;  vertical-align:middle;}
.radio_style input + label.radio_img {position:relative; width:16px; height:16px; text-align:center; cursor:pointer; background:url('../images/common/ic_radio_off.png') no-repeat;}
.radio_style input:checked + label.radio_img:after {position:absolute; top:0px; left:0; width:16px; height:16px; content: ' '; background: url('../images/common/ic_radio_on.png') no-repeat;}

.flatCheck {position:relative; width:53px; height:30px;}
.flatCheck input[type='checkbox'] {opacity:0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
.flatCheck div {position:relative; top:-16px; width:100%; height:100%; background:#fff;  border:1px solid #ddd; border-radius:50px; -webkit-transition:all .2s ease; -moz-transition:all .2s ease; -o-transition:all .2s ease; -ms-transition:all .2s ease; transition:all .2s ease; }
.flatCheck label {display:block; position:absolute; top:1px; left:0; width:26px; height:26px; cursor:pointer; z-index:1; border-radius:50%; background:#fff; border:1px solid #ddd; -webkit-transition:all .2s ease; -moz-transition:all .2s ease; -o-transition:all .2s ease; -ms-transition:all .3s ease; transition:all .2s ease;}
.flatCheck input[type=checkbox]:checked ~ div {background:#5787e9; border:1px solid #5787e9;}
.flatCheck input[type=checkbox]:checked ~ label {left:26px; border:1px solid #5787e9;}

/* Form */
.form_search {padding:15px 0; border-top:2px solid #333;}

table.form_type1 {width:100%; border-top:2px solid #333;}
table.form_type1 th {height:40px; font-size:14px; font-weight:400; color:#666; border-bottom:1px solid #ddd;}
table.form_type1 td {height:40px; font-size:14px; border-bottom:1px solid #ddd;}

table.form_type2 {width:100%; border-top:2px solid #333;}
table.form_type2 th {height:40px; font-size:14px; font-weight:400; color:#666; background:#f7f7f7; border-bottom:1px solid #ddd;}
table.form_type2 td {height:50px; font-size:14px; border-bottom:1px solid #ddd;}

/* Scroll */
.scroll {overflow-y:auto}
.scroll::-webkit-scrollbar {width:5px; height:5px;}
.scroll::-webkit-scrollbar-button:start:decrement, 
.scroll::-webkit-scrollbar-button:end:increment {display:block; height:3px;}
.scroll::-webkit-scrollbar-track {background:none;}
.scroll::-webkit-scrollbar-thumb {width:5px; height:5px; border-radius:7px; background:#eee;}
.scroll::-webkit-scrollbar-thumb:hover {background:#eee;}
.scroll:hover::-webkit-scrollbar-thumb {background:#eee;}
.scroll {scrollbar-3dLight-Color: none; scrollbar-arrow-color: #d3d3d3; scrollbar-base-color:rgb(238, 238, 238); scrollbar-Face-Color: rgb(213, 213, 213); scrollbar-Track-Color:#eee; scrollbar-DarkShadow-Color:none; scrollbar-Highlight-Color: none; scrollbar-Shadow-Color:rgb(238, 238, 238);}

/* Tooltip */
.btn_tooltip {display:inline-block; vertical-align:middle !important; width:15px; height:15px; background:url(../images/common/ic_qa.png) center center no-repeat; cursor:pointer;}
.tooltip_box {display:none; position:absolute; width:250px; padding:7px; box-shadow:0 0 10px #999; background:#fff; z-index:4;}



/************************************************************************************
Main st.
*************************************************************************************/
.main_contents section h1 {font-size:38px; line-height:50px; font-family: 'NanumSquare', sans-serif;}

.main_contents .cont1 {height:505px; background:#777489 url(../images/main/bg_main1.jpg) right top no-repeat;}
.main_contents .cont1 h1 {padding:180px 0 5px; font-size:40px; color:#fff; font-weight:600;}
.main_contents .cont1 p {font-size:23px; color:#bababa;}
.main_contents .cont1 .btn_wrap {margin-top:50px; font-family: 'Nanum Barun Gothic', sans-serif;}
.main_contents .cont1 .btn_wrap a.btn {width:185px; height:60px; padding-left:20px; text-align:left; line-height:60px; font-size:16px;}
.main_contents .cont1 .btn_wrap a.btn_black {background:#000 url(../images/main/ic_arrow_white.png) right 25px center no-repeat;}
.main_contents .cont1 .btn_wrap a.btn_blue {background:#003399 url(../images/main/ic_arrow_white.png) right 25px center no-repeat;}

.main_contents .cont2 {height:540px; background:#fff url(../images/main/bg_main2.jpg) left top no-repeat;}
.main_contents .cont2 h1 {padding:155px 0 45px;}
.main_contents .cont2 h1 b {color:#0328b2;}
.main_contents .cont2 p {font-size:18px; line-height:30px;}

.main_contents .cont3 {height:540px; background:#003399 url(../images/main/bg_main3.jpg) center top no-repeat;}
.main_contents .cont3 h1 {padding-top:92px; text-align:center; color:#fff; font-weight:400;}
.main_contents .cont3 h1 img {margin-bottom:35px;}

.main_contents .cont4 {padding:110px 0 87px; text-align:center;}
.main_contents .cont4 h1 {font-weight:400;}
.main_contents .cont4 ul {margin:70px 0 60px;}
.main_contents .cont4 ul li {position:relative; display:inline-block; vertical-align:middle; width:215px; height:215px; margin-right:60px; padding-top:54px; font-size:17px; border:1px solid #ddd; border-radius:10px;}
.main_contents .cont4 ul li:after {position:absolute; right:-41px; content:""; top:96px; width:15px; height:23px; background:url(../images/main/ic_arrow_black.png) no-repeat;}
.main_contents .cont4 ul li:last-child {margin-right:0;}
.main_contents .cont4 ul li:last-child:after {display:none;}
.main_contents .cont4 ul li img {margin-bottom:20px;}
.main_contents .cont4 .btn_wrap a.btn {width:200px; height:60px; margin:0 10px; line-height:60px; font-size:16px;}


/************************************************************************************
Contents st.
*************************************************************************************/
/* Sub Menu */
.sub_menu dl {margin:40px;}
.sub_menu dl * {float:left; display:inline-block; vertical-align:middle;}
.sub_menu dl dt {margin:0 197px 0 30px; font-size:24px; line-height:16px;}
.sub_menu dl dd a {padding:0 30px; font-size:16px; line-height:16px; border-left:1px solid #ddd;}
.sub_menu dl dd:last-child a {border-right:1px solid #ddd;}
.sub_menu dl dd.active a {position:relative; font-weight:500;}
.sub_menu dl dd.active a:after {position:absolute; left:50%; bottom:-18px; margin-left:-5.5px; content:url(../images/common/ic_menu_on.png);}

/* Page Title */
.page_title {display:none; position:fixed; top:60px; left:0; width:100%; height:40px; line-height:40px; text-align:center; font-size:16px; background:#fff; border-bottom:1px solid #ddd; z-index:10;}
.page_title div {position:relative;}
.page_title .btn_back {position:absolute; left:0; top:0; width:30px !important; height:40px !important; padding:0 !important; background:url(../images/common/btn_back.png) center center no-repeat; background-size:13px !important; text-indent:-9999px;}

/* 거래소 */
.trade_warp .btn {vertical-align:top; height:30px; padding:0 8px; font-size:13px; line-height:28px;}
.trade_warp input[type='text'] {width:230px; height:33px; border:1px solid #ddd;}
.trade_warp select {display:inline-block; vertical-align:top; height:30px;}

.trade_warp .info_box {height:110px; margin-bottom:20px; background:#353541;}
.trade_warp .info_box p.fl_left {width:20%; padding:35px 0 0 26px; font-size:12px; color:#fff; line-height:15px;}
.trade_warp .info_box p.fl_left b {font-size:24px; font-weight:400;}
.trade_warp .info_box p.fl_left span {display:block; margin-top:5px; font-size:12px; color:#999;}
.trade_warp .info_box ul.fl_right {width:80%; padding-left:20px;}
.trade_warp .info_box ul.fl_right li {float:left; margin-right:80px;}
.trade_warp .info_box ul.fl_right li:last-child {margin-right:0;}
.trade_warp .info_box ul.fl_right li dt {margin:30px 0 8px; font-size:13px; color:#777;}
.trade_warp .info_box ul.fl_right li dd {font-size:14px; color:#ccc;}
.trade_warp .info_box ul.fl_right li dd.red {font-size:24px; line-height:13px; color:#ee1515;}
.trade_warp .info_box ul.fl_right li dd.green {color:#34b5b4;}

.trade_warp .graph_wrap>div {float:left;}
.trade_warp .graph_wrap .graph_title_box {padding:4px; border-bottom:1px solid #ddd;}

.trade_warp .graph_wrap .realTime {width:345px; border:1px solid #ddd;}
.trade_warp .graph_wrap .realTime .graph_content_box {position:relative; height:765px; overflow:hidden;}
.trade_warp .graph_wrap .realTime .btn_wrap a {padding-top:8px;}
.trade_warp .graph_wrap .realTime table th {height:35px; padding:0 5px; text-align:center; font-size:12px; font-weight:400; background:#fafafa;}
.trade_warp .graph_wrap .realTime table td {position:relative; height:20px; padding:0 7px; text-align:center; font-size:12px; line-height:20px; border-bottom:1px solid #fff;}
.trade_warp .graph_wrap .realTime table td span {position:relative; z-index:2;}
.trade_warp .graph_wrap .realTime table td span.red_bar {position:absolute; right:0; bottom:1px; height:19px; background:#ffe6e6; z-index:1;}
.trade_warp .graph_wrap .realTime table td span.green_bar {position:absolute; right:0; bottom:1px; height:19px; background:#d5f4f4; z-index:1;}
.trade_warp .graph_wrap .realTime table th:nth-child(2),
.trade_warp .graph_wrap .realTime table td:nth-child(2) {text-align:right;}
.trade_warp .graph_wrap .realTime .down_table table td:first-child {color:#d60000;}
.trade_warp .graph_wrap .realTime .down_table table tr:first-child td {padding-top:5px;}
.trade_warp .graph_wrap .realTime .up_table table td:first-child {color:#009999;}
.trade_warp .graph_wrap .realTime .newest {position:absolute; width:100%; height:38px; top:380px; text-align:center; line-height:38px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; background:#f7f7f7 url(../images/trade/ic_graph_green.png) right 20px center no-repeat;}
.trade_warp .graph_wrap .realTime .newest p {display:inline-block; padding-right:15px; font-size:16px; font-weight:500;}
.trade_warp .graph_wrap .realTime .newest .green {color:#009999; background:url(../images/trade/ic_up_green.png) right center no-repeat;}
.trade_warp .graph_wrap .realTime .newest .red {color:#d60000; background:url(../images/trade/ic_down_red.png) right center no-repeat;}
.trade_warp .graph_wrap .realTime .newest .gray {color:#666; background:none;}

.trade_warp .graph_wrap .realTime .down_table {position:absolute; top:35px; width:100%; height:341px; overflow-y:hidden;}
.trade_warp .graph_wrap .realTime .up_table {position:absolute; bottom:5px; width:100%; height:336px; overflow-y:hidden;}

.trade_warp .graph_wrap .graph {width:668px; margin:0 20px;}
.trade_warp .graph_wrap .graph>div {border:1px solid #ddd;}
.trade_warp .graph_wrap .graph select {margin-left:5px;}
.trade_warp .graph_wrap .graph .btn_detail {margin:0 7px;}
.trade_warp .graph_wrap .graph .graph_content_box {height:360px;}
.trade_warp .graph_wrap .graph .graph_content_box img {width:666px;}
.trade_warp .graph_wrap .graph .order_box {position:relative; margin-top:20px; border:0;}
.trade_warp .graph_wrap .graph .order_box .fees_text {position:absolute; right:0; top:12px;}
.trade_warp .graph_wrap .graph .order_box .tab_header li {position:relative; float:left; padding:0 16px; border:1px solid #ddd; border-bottom:0; border-right:0;}
.trade_warp .graph_wrap .graph .order_box .tab_header li:last-child {border-right:1px solid #ddd;}
.trade_warp .graph_wrap .graph .order_box .tab_header li a {display:inline-block; vertical-align:middle; height:41px; line-height:40px; font-size:13px;}
.trade_warp .graph_wrap .graph .order_box .tab_header li.active {background:#fafafa; border-bottom:0;}
.trade_warp .graph_wrap .graph .order_box .tab_header li.active a {color:#1957d4;}
.trade_warp .graph_wrap .graph .order_box .tab_contents {margin-top:-1px; border:1px solid #ddd; background:#fafafa;}
.trade_warp .graph_wrap .graph .order_box .tab_cont {display:none;}
.trade_warp .graph_wrap .graph .order_box .tab_cont:first-child {display:block;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div {width:50%; padding:25px 30px; border-right:1px solid #ddd;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div:last-child {border-right:0;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div .title {font-size:15px;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div .title span {font-size:12px; color:#666;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div>input {width:100%; height:40px;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl {margin:25px 0;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl>* {float:left;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dt {width:19%; height:45px; line-height:45px; font-size:13px; color:#666;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd {position:relative; width:80%; height:45px; padding:5px 0;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd input[type="text"] {width:80%; padding-right:17%;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd span {position:absolute; left:83%; top:13px; font-size:12px; color:#999;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.count input[type="text"] {width:68%; padding-right:41px;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.count span {left:73%;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.count .btn_wrap {position:absolute; top:5px; right:0;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.count .btn_wrap input {display:block; width:24px; height:17.5px; border:1px solid #ddd;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.count .btn_wrap input.up {background:url(../images/trade/btn_up.png) center center no-repeat; border-bottom:0;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.count .btn_wrap input.down {background:url(../images/trade/btn_down.png) center center no-repeat;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.btn_num input {float:left; width:25%; height:33px; border:1px solid #ddd; background:#fff;  border-right:0;}
.trade_warp .graph_wrap .graph .order_box .tab_cont>div dl dd.btn_num input:last-child {border-right:1px solid #ddd;}

.trade_warp .graph_wrap .my_coin {width:345px}
.trade_warp .graph_wrap .my_coin>div {margin-bottom:10px; padding-bottom:5px; border:1px solid #ddd;}
.trade_warp .graph_wrap .my_coin .graph_title_box>span {display:inline-block; line-height:30px; font-size:13px;}
.trade_warp .graph_wrap .my_coin table th {height:35px; text-align:center; font-size:12px; font-weight:400; background:#fafafa;}
.trade_warp .graph_wrap .my_coin table td {position:relative; padding:0 12px 0 18px; text-align:center; font-size:13px; line-height:20px;}
.trade_warp .graph_wrap .my_coin table th:first-child,
.trade_warp .graph_wrap .my_coin table td:first-child {padding-left:15px; text-align:left;}
.trade_warp .graph_wrap .my_coin table tr:first-child td {padding-top:5px;}
.trade_warp .graph_wrap .my_coin table .red {color:#d60000;}
.trade_warp .graph_wrap .my_coin table .green {color:#009999;}
.trade_warp .graph_wrap .my_coin .interest .graph_title_box>span img {margin:8px 4px 0 8px;}
.trade_warp .graph_wrap .my_coin .interest .search_box {border-bottom:1px solid #ddd;}
.trade_warp .graph_wrap .my_coin .interest .search_box .fl_left {width:58%; border-right:1px solid #ddd;}
.trade_warp .graph_wrap .my_coin .interest .search_box .fl_left>* {display:inline-block; vertical-align:top;}
.trade_warp .graph_wrap .my_coin .interest .search_box .fl_left input[type='search'] {width:85%; height:35px; padding:0 15px; border:0;}
.trade_warp .graph_wrap .my_coin .interest .search_box .fl_left .btn_search {height:35px;}
.trade_warp .graph_wrap .my_coin .interest .search_box .fl_right {width:42%; padding-top:6px;}
.trade_warp .graph_wrap .my_coin .interest .search_box .fl_right span {margin:0 4px;}
.trade_warp .graph_wrap .my_coin .interest .scroll {height:290px;}
.trade_warp .graph_wrap .my_coin .history .graph_title_box {background:#fafafa;}
.trade_warp .graph_wrap .my_coin .history .graph_title_box>span {padding-left:17px; font-size:15px; font-weight:500;}
.trade_warp .graph_wrap .my_coin .history .graph_content_box {height:343px;}
.trade_warp .graph_wrap .my_coin .history table td {text-align:right;}
.trade_warp .graph_wrap .my_coin .history table td:first-child {text-align:left;}

.trade_warp .table_wrap {margin-bottom:100px;}
.trade_warp .table_wrap .title {margin:40px 0 10px; font-size:15px; font-weight:500;}
.trade_warp .table_wrap .title span {font-size:13px; font-weight:400; color:#666;}
.trade_warp .table_wrap .title a {margin-left:10px;}
.trade_warp .table_wrap .waiting_order,
.trade_warp .table_wrap .my_order {position:relative;}


/* 자산 - 자산현황 */
.status {padding-bottom:150px;}
.status .form_search {position:relative;}
.status .form_search input[type='search'] {width:235px; height:35px; margin-top:5px; padding-right:30px;}
.status .form_search input.btn_search {display:inline-block; vertical-align:bottom; width:35px; height:35px; margin-left:-39px; margin-right:20px; background-size:auto;}
.status .form_search .fl_right {text-align:right; font-size:14px; line-height:24px;}
.status .form_search .fl_right dl:after {display:block;visibility:hidden;clear:both;content:""}
.status .form_search .fl_right dl>* {display:inline-block;}
.status .form_search .tooltip_box {left:155px;}
.status .table_head {width:100%; border-top:2px solid #333; border-bottom:1px solid #ddd; background:#f7f7f7;}
.status .table_head>div {float:left; height:40px; line-height:40px; font-size:14px; text-align:center; font-weight:400; color:#666;}
.status ul {border-bottom:1px solid #ddd;}
.status ul:after {display:block;visibility:hidden;clear:both;content:""}
.status ul li {float:left; height:50px; font-size:14px; line-height:50px; text-align:center;}
.status .gray {color:#666;}
.status .blue {color:#1957d4;}
.status .red {color:#d60000;}
.status ul li .btn {height:32px; padding:0 20px;}
.status ul li .btn_trade {padding-left:35px; background:#fff url(../images/common/ic_trade.png) left 20px center no-repeat;}
.status .column1 {width:12%;}
.status .column2 {width:12%;}
.status .column3 {width:15%;}
.status .column4 {width:20%;}
.status .column5 {width:15%;}
.status .column6 {width:25%;}


/* 자산 - 입금 */
.deposit {padding:15px 0 90px; border-top:2px solid #333;}
.deposit>div {width:49.5%; border:1px solid #ddd;}
.deposit>div>div {padding:25px; border-bottom:1px solid #ddd;}
.deposit>div>div:last-child {border-bottom:0;}
.deposit .coin_info select {width:100%;}
.deposit .coin_info dl {width:100%; margin-top:5px;}
.deposit .coin_info dl>* {float:left; width:50%;}
.deposit .coin_info dl dt {margin-top:15px; padding-left:10px; font-size:14px; line-height:14px; background:url(../images/common/ic_bul.png) left center no-repeat; background-size:3px;}
.deposit .coin_info dl dd {margin-top:15px; padding-right:20px; font-size:14px; line-height:14px; color:#999; text-align:right;}
.deposit .coin_info dl dd b {font-size:20px; color:#1957d4;}
.deposit .coin_info dl dd span {color:#333;}   

.deposit .warning dt {margin-bottom:5px; padding-left:20px; font-size:13px; color:#d3191a; line-height:16px; background:url(../images/common/ic_ex_red.png) left center no-repeat;}
.deposit .warning dd {padding-left:20px;}

.deposit .address_box dt {margin-bottom:10px; font-size:14px; font-weight:600;}
.deposit .address_box .text_box {padding:15px; font-size:14px; line-height:25px; color:#666; font-weight:400; background:#fff; border:1px solid #ddd;}
.deposit .address_box .btn_wrap {margin-top:25px; text-align:center;}
.deposit .address_box .btn_wrap .btn {width:210px; height:45px; margin:0 5px;}

.deposit .trade_move dt {margin-bottom:10px; font-size:14px; font-weight:600;}
.deposit .trade_move dd {float:left; width:19%; margin:0 1% 5px 0;}
.deposit .trade_move dd:last-child {margin-right:0;}
.deposit .trade_move dd .btn {width:100%; height:40px;}

.deposit .history {height:655px;}
.deposit .history>div {padding:0; border-bottom:0;}
.deposit .history .title {padding:15px 25px; font-size:15px; font-weight:500; border-bottom:1px solid #333;}
.deposit .history .title p {float:left;}
.deposit .history .title .btn_more {float:right; margin-top:4px; font-size:13px; color:#666; font-weight:400;}
.deposit .history table th {height:40px; font-size:14px; text-align:center; background:#f7f7f7; border-bottom:1px solid #ddd;}
.deposit .history table td {height:40px; font-size:14px; text-align:center; border-bottom:1px solid #ddd;}
.deposit .history .scroll {height:560px;}
.deposit .history .history_cont.empty {position:relative; background:url(../images/assets/img_find.png) center top 168px no-repeat;}
.deposit .history .history_cont.empty .empty_text {position:absolute; top:295px; width:100%; text-align:center; font-size:14px; color:#666;}


/* 자산 - 출금 */
.withdraw .address_box dd input {width:98%;} 

.withdraw .withdrow_price dl>* {float:left; width:50%;}
.withdraw .withdrow_price dl dt {height:16px; margin-top:15px; font-size:14px; font-weight:600;}
.withdraw .withdrow_price dl dt.fl_wrap {display:block; float:none; width:100%; margin-top:0;}
.withdraw .withdrow_price dl dt.fl_wrap span {float:right; color:#999; font-weight:400;}
.withdraw .withdrow_price dl dt.fl_wrap span b {color:#333; font-weight:400;}
.withdraw .withdrow_price dl dd {height:16px; margin-top:15px; padding-right:20px; font-size:14px; line-height:14px; color:#999; text-align:right;}
.withdraw .withdrow_price dl dd b {color:#1957d4;}
.withdraw .withdrow_price dl dd.fl_wrap {position:relative; display:block; float:none; width:100%; margin-top:12px; padding-right:0; text-align:left;}
.withdraw .withdrow_price dl dd.fl_wrap>* {float:left;}
.withdraw .withdrow_price dl dd.fl_wrap input[type='text'] {width:78.5%; padding-right:8%; border-right:0;}
.withdraw .withdrow_price dl dd.fl_wrap input.btn {width:12%; height:37px; border:1px solid #ddd; background:#e8e8e8;}
.withdraw .withdrow_price dl dd.fl_wrap>span {position:absolute; left:81%; top:12px;}
.withdraw .withdrow_price .btn_wrap {margin-top:25px; text-align:center;}
.withdraw .withdrow_price .btn_wrap .btn {width:210px; height:45px;}

.withdraw .history {height:781px;}
.withdraw .history .scroll {height:726px;}


/* Member - 회원가입 */
.member_box  {margin:50px auto 100px; border:1px solid #ddd;}

.register {width:374px; padding:45px 93px;}
.register .title {margin-bottom:44px;}
.register .title b {font-size:24px; line-height:33px; font-weight:400;}
.register .write_wrap dd {position:relative; margin-bottom:13px;}
.register .write_wrap dd input[type='text'],
.register .write_wrap dd input[type='password'] {width:calc(98% - 50px); height:50px; padding-left:50px;}
.register .write_wrap dd .input_mail {background:url(../images/member/ic_post.png) left 18px center no-repeat;}
.register .write_wrap dd .input_password {background:url(../images/member/ic_lock.png) left 18px center no-repeat;}
.register .write_wrap dd .input_people {background:url(../images/member/ic_people.png) left 18px center no-repeat;}
.register .write_wrap .capcha input[type='image'] {width:40%; height:52px; background:#f3f3f3;}
.register .write_wrap .capcha .btn_reload {width:50px; height:52px; border-left:0; background:#fff url(../images/member/ic_reload.png) center center no-repeat;}
.register .write_wrap .capcha input[type='text'] {width:40%; padding-left:5px;}
.register .write_wrap .tooltip_box {right:0;}
.register .write_wrap .btn_wrap .btn {width:100%; height:45px; font-size:15px;}
.register .write_wrap .go_login {font-size:13px; color:#666;}
.register .write_wrap .go_login a {padding-right:15px; color:#209ed3; background:#fff url(../images/member/ic_arrow_gray.png) right center no-repeat;}


/* Member - 이메일 인증 */
.auth_mail {width:428px; padding:54px 66px 48px; text-align:center;}
.auth_mail dl dt {margin-bottom:32px; font-size:24px;}
.auth_mail dl dd {font-size:14px; line-height:22px; text-align:left;}
.auth_mail dl dd span {color:#1957d4; border-bottom:1px solid #1957d4;}
.auth_mail dl dd .btn {width:155px; height:45px; margin-top:25px; font-size:15px;}


/* Member - 가입완료 */
.join_com {width:560px; padding:54px 0 0; text-align:center;}
.join_com dl dt {margin-bottom:32px; font-size:24px;}
.join_com dl dd {font-size:14px; line-height:22px;}
.join_com dl dd p {margin-bottom:10px; font-size:23px;}
.join_com dl dd p span {color:#1957d4;}
.join_com dl dd .btn {width:155px; height:45px; margin-top:25px; font-size:15px;}
.join_com dl dd.msg_box {margin-top:23px; padding:25px; text-align:center; background:#f3f3f3;}
.join_com dl dd.msg_box p {display:inline-block; margin-bottom:0; padding-left:25px; font-size:14px; background:url(../images/common/ic_ex_red.png) left center no-repeat;}


/* Member - 로그인 */
.login .go_login .fl_left a {padding-right:0; color:#666; background:none; border-bottom:1px solid #666;}


/* Mypage - 회원정보 */
.mypage {padding:0 0 90px; border-top:2px solid #333;}
.mypage .title {margin:45px 0 10px; font-size:17px; font-size:600;}
.mypage table th {padding-left:35px; text-align:left;}
.mypage table td {padding-left:25px;}
.mypage table td .radio_style {padding-right:60px;}
.mypage .push .btn {margin:10px 0 5px; padding:5px 10px;}
.mypage .push span.gray {display:block; margin:5px 0 10px; font-size:14px; color:#999;}
.mypage ul {border-top:2px solid #333;}
.mypage ul li {padding:30px 0 30px 190px; border-bottom:1px solid #ddd;}
.mypage ul li p {font-size:14px; line-height:26px;}
.mypage ul li p span {color:#999;}
.mypage ul li .flatCheck {margin:10px 35px;}
.mypage ul li .btn {width:97px; height:40px; margin-top:10px; line-height:38px;}
.mypage ul li.bg_phone {background:url(../images/mypage/img_phone.png) left 57px center no-repeat;}
.mypage ul li.bg_pc {background:url(../images/mypage/img_pc.png) left 57px center no-repeat;}
.mypage ul li.bg_pc2 {background:url(../images/mypage/img_pc2.png) left 57px center no-repeat;}
.mypage ul li.bg_safe {background:url(../images/mypage/img_safe.png) left 57px center no-repeat;}