

ol, ul { list-style: none; }
a { color: #5a9352; text-decoration: none; }
a:hover { text-decoration: underline; }

/** reset lightbox position **/
#lightbox-container-image-data-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#thumbnails { display: block; margin-bottom: 10px; }
#thumbnails ul li {  margin-right: 26px; margin-bottom: 12px; }

#thumbnails_head { display: block; margin-bottom: 10px; }
#thumbnails_head ul li { float: left; margin-right: 60px; margin-bottom: 12px; }

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
